# Purpose
The goal of this notebook is to make a master CSV.

In [197]:
import pandas as pd
import re
import numpy as np
from dateutil import parser

## Functions

In [198]:
def get_station(new_string):
    try:
        query = r"^\((V\d\d)\) \((.*)\)"
        m = re.search(query, new_string)
        return m.group(2).upper()
    except:
        None
        
def change_percent(test):
    if isinstance(test, str):
        query = r"%"
        m = re.search(query, test)

        if m:
            test = test.strip("%")
            test = float(test)/100
            return test
        else:
            return test
    else:
        return test

### Bringing in Pending 2014 Wait Times

In [199]:
# A function to format 
def make_df(Type,Time,File):
    Title = "{}_{}".format(Type,Time)
    csv = pd.read_csv(File,
                               usecols=[0,1,5,24,25,26],
                               skiprows=[0], #skipping the original header
                               names=["Location","Appts_{}".format(Title),
                                      "%_Appts_Over_30_{}".format(Title),
                                      "PC_Wait_{}".format(Title),
                                      "SC_Wait_{}".format(Title),"MH_Wait_{}".format(Title)])
    csv["Station"] = csv["Location"].apply(get_station)
    return csv
Pending_1412 = make_df("Pending","1412","Wait_Time/Pending_Clean/14_12_01_Wait_Pending.csv")
Pending_1412.head()

,Location,Appts_Pending_1412,%_Appts_Over_30_Pending_1412,PC_Wait_Pending_1412,SC_Wait_Pending_1412,MH_Wait_Pending_1412,Station
0,"(V01) (402) Togus, ME",42899,2.70%,2.51,4.07,2.77,402
1,"(V01) (405) White River Junction, VT",23709,2.16%,3.92,3.95,0.79,405
2,"(V01) (518) Bedford, MA",8105,5.17%,1.12,10.53,4.41,518
3,"(V01) (523) VA Boston HCS, MA",85625,1.71%,1.66,3.53,3.92,523
4,"(V01) (608) Manchester, NH",19511,2.64%,2.66,4.21,5.13,608

# Staff Size

In [200]:
staff = pd.read_csv("Staff_Size/Onboard_By_statyion_By_FY.csv")
staff = staff.drop(0).drop(1) # dropping first and second lines because these don't refer to actual stations.
staff["Station"] = staff["ORGANIZATION"].apply(get_station)
staff.head()
#staff

,ORGANIZATION,MAY-FY11,MAY-FY12,MAY-FY13,MAY-FY14,MAY-FY15,MAY-FY16,Station
2,(V01) (402) HCS TOGUS ME,1293,1272.0,1248,1283,1335,1446,402
3,(V01) (405) MROC WHT RIVER JCT VT,852,853.0,881,921,1022,1177,405
4,(V01) (478) V1HCSBEDFORD MA,30,36.0,34,53,48,42,478
5,(V01) (518) MC BEDFORD MA,1313,1265.0,1245,1251,1297,1352,518
6,(V01) (523) HCS BOSTON MA,4022,4011.0,4041,4032,4123,4303,523

### Trying To Consolidate Staff And Pending

In [201]:
#Grabbing all stations in pending that have duplicates
multiple_pending_series = Pending_1412["Station"].value_counts()
multiple_pending_dataframe = multiple_pending_series.to_frame()
multiple_pending_list = multiple_pending_dataframe[multiple_pending_dataframe["Station"] > 1].index.tolist()

pending_unique = pd.DataFrame()
for item in multiple_pending_list:
    new = Pending_1412[Pending_1412["Station"]==item]
    pending_unique = pending_unique.append(new)
    
    
#grabbing all in staff that aren't in pending...  
in_staff_not_pending = [x for x in staff["Station"].tolist() if x not in Pending_1412["Station"].tolist()]
staff_unique = pd.DataFrame()
for item in in_staff_not_pending:
    new = staff[staff["Station"]==item]
    staff_unique = staff_unique.append(new)
    
# ...and including that in a dataframe with the uniques from 
for item in multiple_pending_list:
    new = staff[staff["Station"]==item]
    staff_unique = staff_unique.append(new)

#### Cleaning
Identified areas that need to be clean and stations that match. At this point I'm going to try and generate unique IDs and then I'm going to bring in other data to join. 

Many of the locations in station in the hiring csv don't match the wait time csv.

In [202]:
# identified these as not stations, but facilities. Dropping from dataframe. 
to_drop = [18,29,50,59,66,77,87,96,105,114,123,144,152]
for index in to_drop:
    Pending_1412 = Pending_1412.drop(index)

### Generating Unique IDs

In [203]:
IDs = []
query = r"^\((V\d\d)\) \((\d\d\d)\) (.{2})"
#m = re.search(query, test)
#m.group(3)



for index, row in Pending_1412.iterrows():
    if row["Station"] not in IDs:
        m = re.search(query, row["Location"])
        loc = m.group(3).lower()
        IDs.append(row["Station"])

    else:
        m = re.search(query, row["Location"])
        loc = m.group(3).lower()
        IDs.append(row["Station"]+loc)
Pending_1412["ID"] = IDs
Pending_1412.head()

,Location,Appts_Pending_1412,%_Appts_Over_30_Pending_1412,PC_Wait_Pending_1412,SC_Wait_Pending_1412,MH_Wait_Pending_1412,Station,ID
0,"(V01) (402) Togus, ME",42899,2.70%,2.51,4.07,2.77,402,402
1,"(V01) (405) White River Junction, VT",23709,2.16%,3.92,3.95,0.79,405,405
2,"(V01) (518) Bedford, MA",8105,5.17%,1.12,10.53,4.41,518,518
3,"(V01) (523) VA Boston HCS, MA",85625,1.71%,1.66,3.53,3.92,523,523
4,"(V01) (608) Manchester, NH",19511,2.64%,2.66,4.21,5.13,608,608

In [204]:
#manually changing some IDs in staff based on shared location
staff["ID"] = staff["Station"]
staff["ID"][11] = "528"
staff["ID"][92] = "657st"
staff["ID"][12] = "528bu"
staff.head()

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ORGANIZATION,MAY-FY11,MAY-FY12,MAY-FY13,MAY-FY14,MAY-FY15,MAY-FY16,Station,ID
2,(V01) (402) HCS TOGUS ME,1293,1272.0,1248,1283,1335,1446,402,402
3,(V01) (405) MROC WHT RIVER JCT VT,852,853.0,881,921,1022,1177,405,405
4,(V01) (478) V1HCSBEDFORD MA,30,36.0,34,53,48,42,478,478
5,(V01) (518) MC BEDFORD MA,1313,1265.0,1245,1251,1297,1352,518,518
6,(V01) (523) HCS BOSTON MA,4022,4011.0,4041,4032,4123,4303,523,523

In [205]:
master = Pending_1412.merge(staff, on="ID", how="left")
master["Station"] = master["Station_x"]
master= master.drop("Station_x",1).drop("Station_y",1)
print master.columns

Index([u'Location', u'Appts_Pending_1412', u'%_Appts_Over_30_Pending_1412',
       u'PC_Wait_Pending_1412', u'SC_Wait_Pending_1412',
       u'MH_Wait_Pending_1412', u'ID', u'ORGANIZATION', u'MAY-FY11',
       u'MAY-FY12', u'MAY-FY13', u'MAY-FY14', u'MAY-FY15', u'MAY-FY16',
       u'Station'],
      dtype='object')

#### So what was the result of our merge?

In [206]:
def check_len(master):
    check = len(master) - 141
    if check == 0:
        print "Hurray! We didn't lose any rows."
    if check < 0:
        print "Uh oh. We lost {} rows!".format(str(abs(check)))
    if check > 0:
        print "we somehow...gained {} row? Well that's not right.".format(str(abs(check)))
check_len(master)

Hurray! We didn't lose any rows.

Great! Now I'm going to redefine ID so that it better matches with future dataframes.

In [207]:
ID = []
query = r"^\((V\d\d)\) \((\d\d\d)\) (.{2})"

for index, row in master.iterrows():
    m = re.search(query, row["Location"])
    loc = m.group(3).lower()
    ID.append(row["Station"]+loc)

master["ID"] = ID
master["ID"][72] = "537je" # edge case
master.head()

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Location,Appts_Pending_1412,%_Appts_Over_30_Pending_1412,PC_Wait_Pending_1412,SC_Wait_Pending_1412,MH_Wait_Pending_1412,ID,ORGANIZATION,MAY-FY11,MAY-FY12,MAY-FY13,MAY-FY14,MAY-FY15,MAY-FY16,Station
0,"(V01) (402) Togus, ME",42899,2.70%,2.51,4.07,2.77,402to,(V01) (402) HCS TOGUS ME,1293.0,1272.0,1248.0,1283.0,1335.0,1446.0,402
1,"(V01) (405) White River Junction, VT",23709,2.16%,3.92,3.95,0.79,405wh,(V01) (405) MROC WHT RIVER JCT VT,852.0,853.0,881.0,921.0,1022.0,1177.0,405
2,"(V01) (518) Bedford, MA",8105,5.17%,1.12,10.53,4.41,518be,(V01) (518) MC BEDFORD MA,1313.0,1265.0,1245.0,1251.0,1297.0,1352.0,518
3,"(V01) (523) VA Boston HCS, MA",85625,1.71%,1.66,3.53,3.92,523va,(V01) (523) HCS BOSTON MA,4022.0,4011.0,4041.0,4032.0,4123.0,4303.0,523
4,"(V01) (608) Manchester, NH",19511,2.64%,2.66,4.21,5.13,608ma,(V01) (608) MC MANCHESTER NH,663.0,683.0,691.0,686.0,759.0,803.0,608

## Bringing in Pending 2016

In [208]:
#functions to format 2016 
def get_station(new_string):
    try:
        query = r"^\((V\d\d)\) \(([0-9,A-Z]{3,5})"
        m = re.search(query, new_string)
        return m.group(2).upper()
    except:
        None
        
staff["Station"] = staff["ORGANIZATION"].apply(get_station)




def make_df_2016(Type,Time,File):
    Title = "{}_{}".format(Type,Time)
    csv = pd.read_csv(File,
                               usecols=[0,1,5,20,21,22],
                               skiprows=[0], #skipping the original header
                               names=["Location","Appts_{}".format(Title),
                                      "%_Appts_Over_30_{}".format(Title),
                                      "PC_Wait_{}".format(Title),
                                      "SC_Wait_{}".format(Title),"MH_Wait_{}".format(Title)])
    csv["Station"] = csv["Location"].apply(get_station)
    return csv
Pending_1610 = make_df_2016("Pending","1610","Wait_Time/Pending_Clean/16_10_01_Wait_Pending.csv")
#Pending_1610 = Pending_1610.drop(297).drop(369) # edge case causing issues, not a station anyway

In [209]:
def generate_IDs(df):
    ID = []
    for index, row in df.iterrows():
        #print index
        if len(row["Station"]) > 3:
            #print row["Station"]
            ID.append(None)
        else:
            try:
                #print index
                #print "entering else"
                #print "This is the location: "+row["Location"]
                query = r"^\((V\d\d)\) \((\d\d\d)\) (.{2})"
                m = re.search(query, row["Location"].upper())
                new_ID = row["Station"]+m.group(3).lower()
                if new_ID not in ID:
                    ID.append(new_ID)
                else:
                    ID.append(None)
                #print m.group(3).upper()
            except AttributeError:
                #print "AttributeError"
                ID.append(None)
    return ID
ID = generate_IDs(Pending_1610)
Pending_1610["ID"] = ID

In [210]:
Pending_1610 = Pending_1610.dropna(subset = ["ID"])
master = master.merge(Pending_1610,on="ID")
print master.columns
master["Station"] = master["Station_x"]
master["Location"] = master["Location_x"]
master= master.drop("Station_x",1).drop("Station_y",1).drop("Location_y",1).drop("Location_x",1)
master.head()

Index([u'Location_x', u'Appts_Pending_1412', u'%_Appts_Over_30_Pending_1412',
       u'PC_Wait_Pending_1412', u'SC_Wait_Pending_1412',
       u'MH_Wait_Pending_1412', u'ID', u'ORGANIZATION', u'MAY-FY11',
       u'MAY-FY12', u'MAY-FY13', u'MAY-FY14', u'MAY-FY15', u'MAY-FY16',
       u'Station_x', u'Location_y', u'Appts_Pending_1610',
       u'%_Appts_Over_30_Pending_1610', u'PC_Wait_Pending_1610',
       u'SC_Wait_Pending_1610', u'MH_Wait_Pending_1610', u'Station_y'],
      dtype='object')

,Appts_Pending_1412,%_Appts_Over_30_Pending_1412,PC_Wait_Pending_1412,SC_Wait_Pending_1412,MH_Wait_Pending_1412,ID,ORGANIZATION,MAY-FY11,MAY-FY12,MAY-FY13,MAY-FY14,MAY-FY15,MAY-FY16,Appts_Pending_1610,%_Appts_Over_30_Pending_1610,PC_Wait_Pending_1610,SC_Wait_Pending_1610,MH_Wait_Pending_1610,Station,Location
0,42899,2.70%,2.51,4.07,2.77,402to,(V01) (402) HCS TOGUS ME,1293.0,1272.0,1248.0,1283.0,1335.0,1446.0,43609,4.18%,7.82,5.67,3.62,402,"(V01) (402) Togus, ME"
1,23709,2.16%,3.92,3.95,0.79,405wh,(V01) (405) MROC WHT RIVER JCT VT,852.0,853.0,881.0,921.0,1022.0,1177.0,21091,3.83%,6.09,7.09,1.86,405,"(V01) (405) White River Junction, VT"
2,8105,5.17%,1.12,10.53,4.41,518be,(V01) (518) MC BEDFORD MA,1313.0,1265.0,1245.0,1251.0,1297.0,1352.0,14456,7.54%,0.60,11.21,3.07,518,"(V01) (518) Bedford, MA"
3,85625,1.71%,1.66,3.53,3.92,523va,(V01) (523) HCS BOSTON MA,4022.0,4011.0,4041.0,4032.0,4123.0,4303.0,84373,4.43%,14.46,6.76,3.08,523,"(V01) (523) VA Boston HCS, MA"
4,19511,2.64%,2.66,4.21,5.13,608ma,(V01) (608) MC MANCHESTER NH,663.0,683.0,691.0,686.0,759.0,803.0,25424,4.09%,5.75,4.58,5.21,608,"(V01) (608) Manchester, NH"

In [211]:
check_len(master)

Hurray! We didn't lose any rows.

## Bringing in Complete 2016

In [212]:
def get_station(new_string):
    try:
        query = r"^\((V\d\d)\) \(([0-9,A-Z]{3,5})"
        m = re.search(query, new_string)
        return m.group(2).upper()
    except:
        None
        
staff["Station"] = staff["ORGANIZATION"].apply(get_station)




def make_df_2016(Type,Time,File):
    Title = "{}_{}".format(Type,Time)
    csv = pd.read_csv(File,
                               usecols=[0,1,5,13,14,15],
                               skiprows=[0], #skipping the original header
                               names=["Location","Appts_{}".format(Title),
                                      "%_Appts_Over_30_{}".format(Title),
                                      "PC_Wait_{}".format(Title),
                                      "SC_Wait_{}".format(Title),"MH_Wait_{}".format(Title)])
    csv["Station"] = csv["Location"].apply(get_station)
    return csv
Complete_1608 = make_df_2016("Complete","1608","Wait_Time/Completed_Cleaned/16_08_31_Wait_Complete.csv")
Complete_1608.head()

,Location,Appts_Complete_1608,%_Appts_Over_30_Complete_1608,PC_Wait_Complete_1608,SC_Wait_Complete_1608,MH_Wait_Complete_1608,Station
0,"(V01) (402) Togus, ME",28683,0.0134,4.96,2.73,1.87,402
1,(V01) (402) Togus VAMC,17464,0.0163,5.96,2.66,2.59,402
2,(V01) (402GA) Aroostook County\r(Caribou),756,0.0423,8.84,0.00,3.41,402GA
3,(V01) (402GB) Calais,379,0.0000,1.43,0.00,0.36,402GB
4,(V01) (402GC) Rumford,428,0.0000,1.31,0.00,1.11,402GC

In [213]:
len(Complete_1608)

1189

In [214]:
ID = generate_IDs(Complete_1608)
Complete_1608["ID"] = ID
Complete_1608 = Complete_1608.dropna(subset = ["ID"])
master = master.merge(Complete_1608,on="ID")
master["Station"] = master["Station_x"]
master["Location"] = master["Location_x"]
master= master.drop("Station_x",1).drop("Station_y",1).drop("Location_y",1).drop("Location_x",1)

In [215]:
master.columns

Index([u'Appts_Pending_1412', u'%_Appts_Over_30_Pending_1412',
       u'PC_Wait_Pending_1412', u'SC_Wait_Pending_1412',
       u'MH_Wait_Pending_1412', u'ID', u'ORGANIZATION', u'MAY-FY11',
       u'MAY-FY12', u'MAY-FY13', u'MAY-FY14', u'MAY-FY15', u'MAY-FY16',
       u'Appts_Pending_1610', u'%_Appts_Over_30_Pending_1610',
       u'PC_Wait_Pending_1610', u'SC_Wait_Pending_1610',
       u'MH_Wait_Pending_1610', u'Appts_Complete_1608',
       u'%_Appts_Over_30_Complete_1608', u'PC_Wait_Complete_1608',
       u'SC_Wait_Complete_1608', u'MH_Wait_Complete_1608', u'Station',
       u'Location'],
      dtype='object')

In [216]:
check_len(master)

Hurray! We didn't lose any rows.

In [217]:
# Reference for duplicates I need to check out. 
master[master.duplicated(subset="Station", keep=False)][["Location","Station","ID"]]

                             Location Station     ID
8              (V02) (528) Albany, NY     528  528al
9                (V02) (528) Bath, NY     528  528ba
10   (V02) (528) Western New York, NY     528  528we
11        (V02) (528) Canandaigua, NY     528  528ca
12           (V02) (528) Syracuse, NY     528  528sy
79           (V15) (589) Columbia, MO     589  589co
80        (V15) (589) Kansas City, MO     589  589ka
81     (V15) (589) Eastern KS HCS, KS     589  589ea
82            (V15) (589) Wichita, KS     589  589wi
83             (V15) (657) Marion, IL     657  657ma
84       (V15) (657) Poplar Bluff, MO     657  657po
85          (V15) (657) St. Louis, MO     657  657st
137      (V23) (636) Central Iowa, IA     636  636ce
138         (V23) (636) Iowa City, IA     636  636io
139  (V23) (636) Nebraska��W Iowa, NE     636  636ne

# Bring in November Complete 2016

In [218]:
def get_station(new_string):
    try:
        query = r"^\((V\d\d)\) \(([0-9,A-Z]{3,5})"
        m = re.search(query, new_string)
        return m.group(2).upper()
    except:
        None
        
staff["Station"] = staff["ORGANIZATION"].apply(get_station)




def make_df_2016(Type,Time,File):
    Title = "{}_{}".format(Type,Time)
    csv = pd.read_csv(File,
                               usecols=[0,1,5,13,14,15],
                               skiprows=[0], #skipping the original header
                               names=["Location","Appts_{}".format(Title),
                                      "%_Appts_Over_30_{}".format(Title),
                                      "PC_Wait_{}".format(Title),
                                      "SC_Wait_{}".format(Title),"MH_Wait_{}".format(Title)])
    csv["Station"] = csv["Location"].apply(get_station)
    return csv

# Complete_1611 = make_df_2016("Complete","1611","Wait_Time/Completed_Cleaned/16_11_Wait.csv")

# ID = generate_IDs(Complete_1611)
# Complete_1611["ID"] = ID
# Complete_1611 = Complete_1611.dropna(subset = ["ID"])
# master = master.merge(Complete_1611,on="ID",how='left')
# master["Station"] = master["Station_x"]
# master["Location"] = master["Location_x"]
# master= master.drop("Station_x",1).drop("Station_y",1).drop("Location_y",1).drop("Location_x",1)

# Bring In November Pending 2016

## Bring in Hiring

I'm going to have an issue dealing with the stations with the same ID. 

I made a new CSV called Hiring_Clean where I put the appropriate ID in a new ID column. I put ignore for those that were impossible to join accurately.

In [219]:
master.columns

Index([u'Appts_Pending_1412', u'%_Appts_Over_30_Pending_1412',
       u'PC_Wait_Pending_1412', u'SC_Wait_Pending_1412',
       u'MH_Wait_Pending_1412', u'ID', u'ORGANIZATION', u'MAY-FY11',
       u'MAY-FY12', u'MAY-FY13', u'MAY-FY14', u'MAY-FY15', u'MAY-FY16',
       u'Appts_Pending_1610', u'%_Appts_Over_30_Pending_1610',
       u'PC_Wait_Pending_1610', u'SC_Wait_Pending_1610',
       u'MH_Wait_Pending_1610', u'Appts_Complete_1608',
       u'%_Appts_Over_30_Complete_1608', u'PC_Wait_Complete_1608',
       u'SC_Wait_Complete_1608', u'MH_Wait_Complete_1608', u'Station',
       u'Location'],
      dtype='object')

In [220]:
#Hiring = pd.read_csv("Hiring/Hiring_Clean.csv")
#Hiring = Hiring[Hiring["ID"]!= "Ignore"] 
#Hiring_summed = pd.pivot_table(Hiring,index=["Station"],values=["NbrEmps"],aggfunc=np.sum).reset_index()
#Hiring_summed = Hiring_summed.rename(columns = {"NbrEmps":"Choice_Hires"})

In [221]:
#Hiring = pd.read_csv("Hiring/Hiring_Clean.csv")
Hiring = pd.read_csv("Hiring/Hiring_Clean_All_Positions.csv")
for_dups = []
for index, row in Hiring.iterrows():
    if type(row["ID"]) == str:
        for_dups.append(row["ID"])
    else:
        for_dups.append(row["Station"])
Hiring["for_dups"] = for_dups
Hiring_summed = pd.pivot_table(Hiring,index=["for_dups"],values=["NbrEmps"],aggfunc=np.sum).reset_index()
Hiring_summed = Hiring_summed.rename(columns = {"NbrEmps":"Choice_Hires"})


dup_list = master[master.duplicated(subset="Station",keep=False)]["ID"].tolist()
dup_list.append("612n.")
dup_list.append("537je")

for_dups = []
for index, row in master.iterrows():
    if row["ID"] in dup_list:
        for_dups.append(row["ID"])
    else:
        for_dups.append(row["Station"])
master["for_dups"] = for_dups

In [222]:
master.columns

Index([u'Appts_Pending_1412', u'%_Appts_Over_30_Pending_1412',
       u'PC_Wait_Pending_1412', u'SC_Wait_Pending_1412',
       u'MH_Wait_Pending_1412', u'ID', u'ORGANIZATION', u'MAY-FY11',
       u'MAY-FY12', u'MAY-FY13', u'MAY-FY14', u'MAY-FY15', u'MAY-FY16',
       u'Appts_Pending_1610', u'%_Appts_Over_30_Pending_1610',
       u'PC_Wait_Pending_1610', u'SC_Wait_Pending_1610',
       u'MH_Wait_Pending_1610', u'Appts_Complete_1608',
       u'%_Appts_Over_30_Complete_1608', u'PC_Wait_Complete_1608',
       u'SC_Wait_Complete_1608', u'MH_Wait_Complete_1608', u'Station',
       u'Location', u'for_dups'],
      dtype='object')

In [223]:
master = master.merge(Hiring_summed, on="for_dups", how="left")
master.head()

,Appts_Pending_1412,%_Appts_Over_30_Pending_1412,PC_Wait_Pending_1412,SC_Wait_Pending_1412,MH_Wait_Pending_1412,ID,ORGANIZATION,MAY-FY11,MAY-FY12,MAY-FY13,...,MH_Wait_Pending_1610,Appts_Complete_1608,%_Appts_Over_30_Complete_1608,PC_Wait_Complete_1608,SC_Wait_Complete_1608,MH_Wait_Complete_1608,Station,Location,for_dups,Choice_Hires
0,42899,2.70%,2.51,4.07,2.77,402to,(V01) (402) HCS TOGUS ME,1293.0,1272.0,1248.0,...,3.62,28683,0.0134,4.96,2.73,1.87,402,"(V01) (402) Togus, ME",402,47.0
1,23709,2.16%,3.92,3.95,0.79,405wh,(V01) (405) MROC WHT RIVER JCT VT,852.0,853.0,881.0,...,1.86,21581,0.0177,3.62,4.08,1.32,405,"(V01) (405) White River Junction, VT",405,47.0
2,8105,5.17%,1.12,10.53,4.41,518be,(V01) (518) MC BEDFORD MA,1313.0,1265.0,1245.0,...,3.07,13170,0.0115,0.43,6.01,0.76,518,"(V01) (518) Bedford, MA",518,13.0
3,85625,1.71%,1.66,3.53,3.92,523va,(V01) (523) HCS BOSTON MA,4022.0,4011.0,4041.0,...,3.08,46306,0.0271,7.47,5.75,2.17,523,"(V01) (523) VA Boston HCS, MA",523,86.0
4,19511,2.64%,2.66,4.21,5.13,608ma,(V01) (608) MC MANCHESTER NH,663.0,683.0,691.0,...,5.21,18849,0.0160,4.99,2.93,2.94,608,"(V01) (608) Manchester, NH",608,48.0

In [224]:
check_len(master)

Hurray! We didn't lose any rows.

## Bring in Leadership

Also creating a version of the CSV to deal with duplicate stations.

In [225]:
Leadership = pd.read_csv("Leadership/Leadership_cleaned.csv")
Leadership = Leadership[Leadership["ID"] != "Ignore"]
Leadership["Vacancy"] = Leadership["Acting/Detailed"] == "VACANT"
Leadership["Interim"] = Leadership["Acting/Detailed"] != "VACANT"


# For easy merging


for_dups = []
for index, row in Leadership.iterrows():
    if type(row["ID"]) == str:
        for_dups.append(row["ID"])
    else:
        for_dups.append(row["Station"])
Leadership["for_dups"] = for_dups

Leadership_summed = pd.pivot_table(Leadership, index=["for_dups"],values=["Vacancy","Interim"],aggfunc=np.sum).reset_index()
#Leadership_summed = Leadership_summed.merge(Leadership[["Station","ID"]], on="Station")

In [226]:
master = master.merge(Leadership_summed, on="for_dups", how="left")
master["Interim"] = master["Interim"].fillna(0)
master["Vacancy"] = master["Vacancy"].fillna(0)

In [227]:
check_len(master)

Hurray! We didn't lose any rows.

In [228]:
master.head()

,Appts_Pending_1412,%_Appts_Over_30_Pending_1412,PC_Wait_Pending_1412,SC_Wait_Pending_1412,MH_Wait_Pending_1412,ID,ORGANIZATION,MAY-FY11,MAY-FY12,MAY-FY13,...,%_Appts_Over_30_Complete_1608,PC_Wait_Complete_1608,SC_Wait_Complete_1608,MH_Wait_Complete_1608,Station,Location,for_dups,Choice_Hires,Interim,Vacancy
0,42899,2.70%,2.51,4.07,2.77,402to,(V01) (402) HCS TOGUS ME,1293.0,1272.0,1248.0,...,0.0134,4.96,2.73,1.87,402,"(V01) (402) Togus, ME",402,47.0,0.0,1.0
1,23709,2.16%,3.92,3.95,0.79,405wh,(V01) (405) MROC WHT RIVER JCT VT,852.0,853.0,881.0,...,0.0177,3.62,4.08,1.32,405,"(V01) (405) White River Junction, VT",405,47.0,0.0,0.0
2,8105,5.17%,1.12,10.53,4.41,518be,(V01) (518) MC BEDFORD MA,1313.0,1265.0,1245.0,...,0.0115,0.43,6.01,0.76,518,"(V01) (518) Bedford, MA",518,13.0,0.0,1.0
3,85625,1.71%,1.66,3.53,3.92,523va,(V01) (523) HCS BOSTON MA,4022.0,4011.0,4041.0,...,0.0271,7.47,5.75,2.17,523,"(V01) (523) VA Boston HCS, MA",523,86.0,0.0,0.0
4,19511,2.64%,2.66,4.21,5.13,608ma,(V01) (608) MC MANCHESTER NH,663.0,683.0,691.0,...,0.0160,4.99,2.93,2.94,608,"(V01) (608) Manchester, NH",608,48.0,0.0,0.0

In [229]:
master.columns

Index([u'Appts_Pending_1412', u'%_Appts_Over_30_Pending_1412',
       u'PC_Wait_Pending_1412', u'SC_Wait_Pending_1412',
       u'MH_Wait_Pending_1412', u'ID', u'ORGANIZATION', u'MAY-FY11',
       u'MAY-FY12', u'MAY-FY13', u'MAY-FY14', u'MAY-FY15', u'MAY-FY16',
       u'Appts_Pending_1610', u'%_Appts_Over_30_Pending_1610',
       u'PC_Wait_Pending_1610', u'SC_Wait_Pending_1610',
       u'MH_Wait_Pending_1610', u'Appts_Complete_1608',
       u'%_Appts_Over_30_Complete_1608', u'PC_Wait_Complete_1608',
       u'SC_Wait_Complete_1608', u'MH_Wait_Complete_1608', u'Station',
       u'Location', u'for_dups', u'Choice_Hires', u'Interim', u'Vacancy'],
      dtype='object')

## Bringing in Completed 2014

In [230]:
pd.read_csv("Wait_Time/Completed_Cleaned/14_09_30_Wait_Complete.csv").head()

,Location,Total Appts Completed1,Appts completed in 30 Days or under2,Percent Appts completed in 30 Days or under3,Appts completed in over 30 Days4,Percent Appts completed in over 30 Days5,Appts Completed Between 0 - 14 Days6,Appts Completed Between 15 - 30 Days7,Appts Completed Between 31 - 60 days8,Appts Completed Between 61 - 90 Days9,Appts Completed Between 91 - 120 Days10,Appts Completed Beyond 120 Days11,PC Avg Wait Time in Days12,SC Avg Wait Time in Days13,MH Avg Wait Time in Days14
0,"(V01) (402) Togus, ME",24458,24050,0.9833,408,0.0167,"23,433",617,327,57,16,8,2.72,3.34,1.43
1,"(V01) (405) White River Junction, VT",19232,18929,0.9842,303,0.0158,"18,419",510,250,40,9,4,2.24,3.22,0.84
2,"(V01) (518) Bedford, MA",11976,11786,0.9841,190,0.0159,"11,357",429,166,18,6,0,0.88,5.30,3.67
3,"(V01) (523) VA Boston HCS, MA",45669,45188,0.9895,481,0.0105,"43,900","1,288",379,77,16,9,1.16,3.17,2.63
4,"(V01) (608) Manchester, NH",17616,17329,0.9837,287,0.0163,"16,714",615,246,39,2,0,2.49,3.65,3.01

In [231]:
def make_df_complete_2014(Type,Time,File):
    Title = "{}_{}".format(Type,Time)
    csv = pd.read_csv(File,
                               usecols=[0,1,5,12,13,14],
                               skiprows=[0], #skipping the original header
                               names=["Location","Appts_{}".format(Title),
                                      "%_Appts_Over_30_{}".format(Title),
                                      "PC_Wait_{}".format(Title),
                                      "SC_Wait_{}".format(Title),"MH_Wait_{}".format(Title)])
    csv["Station"] = csv["Location"].apply(get_station)
    return csv
Complete_1409 = make_df_complete_2014("Complete","1409","Wait_Time/Completed_Cleaned/14_09_30_Wait_Complete.csv")
Complete_1409["ID"] = generate_IDs(Complete_1409)
Complete_1409

,Location,Appts_Complete_1409,%_Appts_Over_30_Complete_1409,PC_Wait_Complete_1409,SC_Wait_Complete_1409,MH_Wait_Complete_1409,Station,ID
0,"(V01) (402) Togus, ME",24458,0.0167,2.72,3.34,1.43,402,402to
1,"(V01) (405) White River Junction, VT",19232,0.0158,2.24,3.22,0.84,405,405wh
2,"(V01) (518) Bedford, MA",11976,0.0159,0.88,5.30,3.67,518,518be
3,"(V01) (523) VA Boston HCS, MA",45669,0.0105,1.16,3.17,2.63,523,523va
4,"(V01) (608) Manchester, NH",17616,0.0163,2.49,3.65,3.01,608,608ma
5,(V01) (631) VA Central Western Massachusetts HCS,19536,0.0500,6.31,7.80,2.91,631,631va
6,"(V01) (650) Providence, RI",28521,0.0142,2.35,3.65,4.05,650,650pr
7,"(V01) (689) VA Connecticut HCS, CT",48622,0.0150,1.34,3.42,2.99,689,689va
8,"(V02) (528) Albany, NY",24865,0.0088,1.28,1.86,3.02,528,528al
9,"(V02) (528) Bath, NY",13553,0.0185,3.05,5.33,0.13,528,528ba
10,"(V02) (528) Western New York, NY",37616,0.0236,3.26,3.52,3.91,528,528we
11,"(V02) (528) Canandaigua, NY",13449,0.0198,3.65,3.71,1.61,528,528ca
12,"(V02) (528) Syracuse, NY",31918,0.0400,2.34,8.06,2.33,528,528sy
13,"(V03) (526) Bronx, NY",25650,0.0053,1.50,1.88,1.09,526,526br
14,"(V03) (561) New Jersey HCS, NJ",43772,0.0318,1.25,6.03,2.20,561,561ne
15,"(V03) (620) VA Hudson Valley HCS, NY",26650,0.0090,1.94,2.68,1.29,620,620va
16,"(V03) (630) New York Harbor HCS, NY",50405,0.0056,1.57,1.69,1.02,630,630ne
17,"(V03) (632) Northport, NY",30955,0.0108,3.38,3.42,0.65,632,632no
18,"(V04) (460) Wilmington, DE",16891,0.0457,6.04,6.07,2.98,460,460wi
19,"(V04) (503) Altoona, PA",14938,0.0205,3.42,5.63,1.94,503,503al
20,"(V04) (529) Butler, PA",8692,0.0010,0.26,0.41,0.47,529,529bu
21,"(V04) (540) Clarksburg, WV",17926,0.0644,7.64,7.51,3.41,540,540cl
22,"(V04) (542) Coatesville, PA",15159,0.0027,1.87,1.69,0.91,542,542co
23,"(V04) (562) Erie, PA",14712,0.0173,3.65,2.76,0.51,562,562er
24,"(V04) (595) Lebanon, PA",26534,0.0133,2.32,3.14,2.25,595,595le
25,"(V04) (642) Philadelphia, PA",39256,0.0283,3.61,4.90,3.34,642,642ph
26,"(V04) (646) Pittsburgh, PA",35530,0.0204,4.02,3.37,0.99,646,646pi
27,"(V04) (693) Wilkes-Barre, PA",25811,0.0074,1.76,1.11,0.77,693,693wi
28,"(V05) (512) Baltimore HCS, MD",45027,0.0224,5.18,3.82,1.67,512,512ba
29,"(V05) (613) Martinsburg, WV",38474,0.0097,3.32,2.93,2.02,613,613ma
...,...,...,...,...,...,...,...,...
111,"(V19) (660) Salt Lake City, UT",28963,0.0450,5.38,6.08,2.50,660,660sa
112,"(V19) (666) Sheridan, WY",6596,0.0186,4.25,2.87,1.33,666,666sh
113,"(V20) (463) Anchorage, AK",8126,0.0038,1.16,1.25,0.35,463,463an
114,"(V20) (531) Boise, ID",20010,0.0555,1.02,10.17,0.87,531,531bo
115,"(V20) (648) Portland, OR",50856,0.0367,7.29,5.40,1.32,648,648po
116,"(V20) (653) Roseburg, OR",15639,0.0407,3.36,9.10,1.33,653,653ro
117,"(V20) (663) VA Puget Sound, WA",62851,0.0221,4.23,4.45,1.10,663,663va
118,"(V20) (668) Spokane, WA",20026,0.0215,2.21,3.61,2.88,668,668sp
119,"(V20) (687) Walla Walla, WA",10517,0.0164,2.88,8.30,1.29,687,687wa
120,"(V20) (692) White City, OR",12310,0.0309,2.61,7.65,1.51,692,692wh
121,"(V21) (358) Manila, PI",2292,0.0170,6.96,5.14,6.86,358,358ma
122,"(V21) (459) Honolulu, HI",15226,0.0072,2.90,0.95,1.49,459,459ho
123,"(V21) (570) Fresno, CA",19732,0.0420,0.37,8.77,0.89,570,570fr
124,"(V21) (612) N. California, CA",64997,0.0366,2.48,7.09,1.01,612,612n.
125,"(V21) (640) Palo Alto, CA",44478,0.0273,2.93,4.08,2.33,640,640pa
126,"(V21) (654) Reno, NV",24654,0.0492,6.06,9.19,2.84,654,654re
127,"(V21) (662) San Francisco, CA",41386,0.0146,3.68,2.93,1.58,662,662sa
128,"(V22) (593) Las Vegas, NV",41853,0.0307,4.10,3.30,2.40,593,593la
129,"(V22) (600) Long Beach, CA",49445,0.0158,5.69,2.56,2.21,600,600lo
130,"(V22) (605) Loma Linda, CA",53584,0.0308,3.46,6.11,3.59,605,605lo
131,"(V22) (664) San Diego, CA",60802,0.0225,2.16,3.84,3.00,664,664sa
132,(V22) (691) Greater Los Angeles HCS,65683,0.0439,4.64,6.68,4.49,691,691gr
133,"(V23) (437) Fargo, ND",18930,0.0180,1.69,3.54,1.37,437,437fa
134,"(V23) (438) Sioux Falls, SD",18226,0.0299,3.03,5.03,3.85,438,438si
135,"(V23) (568) Black Hills HCS, SD",13315,0.0246,2.74,5.52,1.95,568,568bl
136,"(V23) (618) Minneapolis, MN",64104,0.0118,2.16,2.53,0.82,618,618mi
137,"(V23) (636) Central Iowa, IA",23238,0.0148,3.34,3.16,3.27,636,636ce
138,"(V23) (636) Iowa City, IA",24724,0.0290,4.60,4.70,1.72,636,636io
139,"(V23) (636) Nebraska-W Iowa, NE",44645,0.0047,1.50,2.02,0.89,636,636ne
140,"(V23) (656) St. Cloud, MN",35123,0.0143,2.03,4.23,3.28,656,656st

In [232]:
for_dups = []
for index, row in Complete_1409.iterrows():
    if row["ID"] in dup_list:
        for_dups.append(row["ID"])
    else:
        for_dups.append(row["Station"])
Complete_1409["for_dups"] = for_dups

In [233]:
columns_to_use = Complete_1409.columns.difference(master.columns).tolist()
columns_to_use.append("for_dups")

master = master.merge(Complete_1409[columns_to_use], on="for_dups", how="left")
master.columns

Index([u'Appts_Pending_1412', u'%_Appts_Over_30_Pending_1412',
       u'PC_Wait_Pending_1412', u'SC_Wait_Pending_1412',
       u'MH_Wait_Pending_1412', u'ID', u'ORGANIZATION', u'MAY-FY11',
       u'MAY-FY12', u'MAY-FY13', u'MAY-FY14', u'MAY-FY15', u'MAY-FY16',
       u'Appts_Pending_1610', u'%_Appts_Over_30_Pending_1610',
       u'PC_Wait_Pending_1610', u'SC_Wait_Pending_1610',
       u'MH_Wait_Pending_1610', u'Appts_Complete_1608',
       u'%_Appts_Over_30_Complete_1608', u'PC_Wait_Complete_1608',
       u'SC_Wait_Complete_1608', u'MH_Wait_Complete_1608', u'Station',
       u'Location', u'for_dups', u'Choice_Hires', u'Interim', u'Vacancy',
       u'%_Appts_Over_30_Complete_1409', u'Appts_Complete_1409',
       u'MH_Wait_Complete_1409', u'PC_Wait_Complete_1409',
       u'SC_Wait_Complete_1409'],
      dtype='object')

In [234]:
master.head()

,Appts_Pending_1412,%_Appts_Over_30_Pending_1412,PC_Wait_Pending_1412,SC_Wait_Pending_1412,MH_Wait_Pending_1412,ID,ORGANIZATION,MAY-FY11,MAY-FY12,MAY-FY13,...,Location,for_dups,Choice_Hires,Interim,Vacancy,%_Appts_Over_30_Complete_1409,Appts_Complete_1409,MH_Wait_Complete_1409,PC_Wait_Complete_1409,SC_Wait_Complete_1409
0,42899,2.70%,2.51,4.07,2.77,402to,(V01) (402) HCS TOGUS ME,1293.0,1272.0,1248.0,...,"(V01) (402) Togus, ME",402,47.0,0.0,1.0,0.0167,24458,1.43,2.72,3.34
1,23709,2.16%,3.92,3.95,0.79,405wh,(V01) (405) MROC WHT RIVER JCT VT,852.0,853.0,881.0,...,"(V01) (405) White River Junction, VT",405,47.0,0.0,0.0,0.0158,19232,0.84,2.24,3.22
2,8105,5.17%,1.12,10.53,4.41,518be,(V01) (518) MC BEDFORD MA,1313.0,1265.0,1245.0,...,"(V01) (518) Bedford, MA",518,13.0,0.0,1.0,0.0159,11976,3.67,0.88,5.30
3,85625,1.71%,1.66,3.53,3.92,523va,(V01) (523) HCS BOSTON MA,4022.0,4011.0,4041.0,...,"(V01) (523) VA Boston HCS, MA",523,86.0,0.0,0.0,0.0105,45669,2.63,1.16,3.17
4,19511,2.64%,2.66,4.21,5.13,608ma,(V01) (608) MC MANCHESTER NH,663.0,683.0,691.0,...,"(V01) (608) Manchester, NH",608,48.0,0.0,0.0,0.0163,17616,3.01,2.49,3.65

In [235]:
check_len(master)

Hurray! We didn't lose any rows.

# Turnover

In [236]:
turnover = pd.read_csv("Turnover/Turnover_Physician.csv",na_values="-")
# to drop national numbers and visn
turnover = turnover[turnover["Organization"].str.len() > 5]

turnover["Station"]= turnover["Organization"].apply(get_station)

for_dups = []
for index, row in turnover.iterrows():
    if type(row["ID"]) == str:
        for_dups.append(row["ID"])
    else:
        for_dups.append(row["Station"])
turnover["for_dups"] = for_dups


turnover.head()

,Organization,Specialty,FY11,FY12,FY13,FY14,FY15,ID,Station,for_dups
174,(V01) (402) HCS TOGUS ME,0602 Physician (All Specialties),0.0997,0.0955,0.1133,0.1474,0.0781,NaN,402,402
175,(V01) (402) HCS TOGUS ME,01 ANESTHESIOLOGY,0.3750,0.7742,NaN,NaN,NaN,NaN,402,402
176,(V01) (402) HCS TOGUS ME,02 SURGERY,NaN,NaN,NaN,0.6667,NaN,NaN,402,402
177,(V01) (402) HCS TOGUS ME,07 ORTHOPEDIC SURGERY,NaN,0.2927,NaN,NaN,NaN,NaN,402,402
178,(V01) (402) HCS TOGUS ME,08 OTOLARYNGOLOGY,NaN,NaN,NaN,1.0000,NaN,NaN,402,402

### Not merging in all of turnover

To do this would create a massive number of columns. Instead, it makes more sense to merge filtered versions in on a case by case basis.

But...it does make sense to merge in specialty

In [237]:
turnover.to_csv("turnover/Turnover_Physician_For_Merging.csv")

In [238]:

physician_turnover = pd.read_csv("Turnover/Turnover_Physician_For_Merging.csv",na_values="-",
                           usecols=[2,3,4,5,6,7,10],
                           skiprows=[0], #skipping the original header
                           names=["Specialty","Physician_Turnover_FY11","Physician_Turnover_FY12",
                                  "Physician_Turnover_FY13","Physician_Turnover_FY14","Physician_Turnover_FY15",
                                  "for_dups"])
physician_turnover = physician_turnover[physician_turnover["Specialty"]=="0602 Physician (All Specialties)"].drop("Specialty",1)
master = master.merge(physician_turnover,on="for_dups",how="left")

# Looking at pyschiatrists

In [239]:
psychiatrists_hiring = pd.read_csv("Hiring/Hiring_Psychiatrist.csv")
psychiatrists_hiring
for_dups = []
for index, row in psychiatrists_hiring.iterrows():
    if type(row["ID"]) == str:
        for_dups.append(row["ID"])
    else:
        for_dups.append(row["Station"])
psychiatrists_hiring["for_dups"] = for_dups
psychiatrists_hiring["NbrPsychiatrists"] = psychiatrists_hiring["NbrEmps"]

master = master.merge(psychiatrists_hiring[["NbrPsychiatrists","for_dups"]], on="for_dups", how="left")
master

,Appts_Pending_1412,%_Appts_Over_30_Pending_1412,PC_Wait_Pending_1412,SC_Wait_Pending_1412,MH_Wait_Pending_1412,ID,ORGANIZATION,MAY-FY11,MAY-FY12,MAY-FY13,...,Appts_Complete_1409,MH_Wait_Complete_1409,PC_Wait_Complete_1409,SC_Wait_Complete_1409,Physician_Turnover_FY11,Physician_Turnover_FY12,Physician_Turnover_FY13,Physician_Turnover_FY14,Physician_Turnover_FY15,NbrPsychiatrists
0,42899,2.70%,2.51,4.07,2.77,402to,(V01) (402) HCS TOGUS ME,1293.0,1272.0,1248.0,...,24458,1.43,2.72,3.34,0.0997,0.0955,0.1133,0.1474,0.0781,4.0
1,23709,2.16%,3.92,3.95,0.79,405wh,(V01) (405) MROC WHT RIVER JCT VT,852.0,853.0,881.0,...,19232,0.84,2.24,3.22,0.0114,0.0842,0.0891,0.1402,0.0600,NaN
2,8105,5.17%,1.12,10.53,4.41,518be,(V01) (518) MC BEDFORD MA,1313.0,1265.0,1245.0,...,11976,3.67,0.88,5.30,0.0620,0.0859,0.0409,0.0814,0.0789,NaN
3,85625,1.71%,1.66,3.53,3.92,523va,(V01) (523) HCS BOSTON MA,4022.0,4011.0,4041.0,...,45669,2.63,1.16,3.17,0.0800,0.0781,0.0898,0.1011,0.0548,2.0
4,19511,2.64%,2.66,4.21,5.13,608ma,(V01) (608) MC MANCHESTER NH,663.0,683.0,691.0,...,17616,3.01,2.49,3.65,0.0774,0.1134,0.1119,0.0909,0.1343,2.0
5,22602,9.26%,10.54,12.50,4.18,631va,(V01) (631) MC NORTHAMPTON MA,639.0,726.0,767.0,...,19536,2.91,6.31,7.80,0.0928,0.0492,0.1134,0.1351,0.0862,NaN
6,38893,4.12%,7.40,4.59,9.33,650pr,(V01) (650) MC PROVIDENCE RI,1215.0,1262.0,1279.0,...,28521,4.05,2.35,3.65,0.0519,0.0815,0.0309,0.0879,0.0927,3.0
7,49615,2.18%,2.35,4.15,3.92,689va,(V01) (689) HCS WEST HAVEN CT,2477.0,2541.0,2623.0,...,48622,2.99,1.34,3.42,0.0719,0.0826,0.0601,0.0781,0.0683,1.0
8,31376,3.16%,2.33,3.64,4.29,528al,(V02) (479) V2HCNALBANY NY,22.0,48.0,55.0,...,24865,3.02,1.28,1.86,NaN,NaN,NaN,0.8000,NaN,1.0
9,14816,4.20%,3.35,7.70,4.97,528ba,NaN,NaN,NaN,NaN,...,13553,0.13,3.05,5.33,NaN,NaN,NaN,NaN,NaN,NaN
10,42761,3.22%,4.34,3.51,5.02,528we,NaN,NaN,NaN,NaN,...,37616,3.91,3.26,3.52,0.0962,0.0756,0.0920,0.0981,0.0707,3.0
11,14061,2.40%,5.12,4.60,1.61,528ca,NaN,NaN,NaN,NaN,...,13449,1.61,3.65,3.71,NaN,NaN,NaN,NaN,NaN,NaN
12,48461,7.57%,2.58,14.53,4.00,528sy,NaN,NaN,NaN,NaN,...,31918,2.33,2.34,8.06,NaN,NaN,NaN,NaN,NaN,NaN
13,20917,3.45%,4.32,5.12,1.82,526br,(V03) (526) MC BRONX NY,1898.0,1819.0,1756.0,...,25650,1.09,1.50,1.88,0.1075,0.0885,0.0540,0.0509,0.0874,NaN
14,40291,4.10%,1.53,6.65,2.03,561ne,(V03) (561) HCS EAST ORANGE NJ,2795.0,2762.0,2820.0,...,43772,2.20,1.25,6.03,0.0199,0.0504,0.0298,0.0537,0.0792,2.0
15,19748,2.37%,4.30,4.04,2.66,620va,(V03) (620) HCS MONTROSE NY,1553.0,1532.0,1543.0,...,26650,1.29,1.94,2.68,0.1084,0.0979,0.1085,0.1303,0.1513,1.0
16,50081,1.31%,1.25,2.70,1.06,630ne,(V03) (630) HCS NEW YORK NY,3650.0,3587.0,3547.0,...,50405,1.02,1.57,1.69,0.0605,0.0746,0.0654,0.0717,0.0662,NaN
17,34758,2.34%,5.31,6.43,1.54,632no,(V03) (632) MC NORTHPORT L I NY,1816.0,1856.0,1912.0,...,30955,0.65,3.38,3.42,0.0668,0.0523,0.0361,0.0483,0.0906,1.0
18,23238,7.68%,16.97,8.87,3.72,460wi,(V04) (460) MROC WILMINGTON DE,916.0,916.0,941.0,...,16891,2.98,6.04,6.07,0.0351,0.0476,0.0605,0.1266,0.1511,NaN
19,29386,1.67%,3.21,5.66,1.78,503al,(V04) (503) MC ALTOONA PA,637.0,615.0,625.0,...,14938,1.94,3.42,5.63,0.0745,0.1088,0.0366,0.0349,0.1371,1.0
20,24169,1.41%,0.32,7.49,0.69,529bu,(V04) (529) MC BUTLER PA,589.0,569.0,565.0,...,8692,0.47,0.26,0.41,0.2330,NaN,NaN,0.0543,0.1714,NaN
21,24461,13.33%,10.03,14.74,7.81,540cl,(V04) (540) MC CLARKSBURG WV,820.0,814.0,860.0,...,17926,3.41,7.64,7.51,0.0704,0.0882,0.0676,0.0969,0.1151,2.0
22,8857,1.06%,1.42,4.28,1.07,542co,(V04) (542) MC COATESVILLE PA,1373.0,1284.0,1261.0,...,15159,0.91,1.87,1.69,0.1021,0.1622,0.1333,0.0724,NaN,1.0
23,12514,6.11%,10.22,7.94,0.33,562er,(V04) (562) MC ERIE PA,678.0,669.0,660.0,...,14712,0.51,3.65,2.76,0.1364,0.0565,0.0541,0.1336,0.0768,1.0
24,43581,2.00%,1.78,4.09,2.65,595le,(V04) (595) MC LEBANON PA,1354.0,1383.0,1333.0,...,26534,2.25,2.32,3.14,0.1179,0.0642,0.0913,0.0864,0.0296,2.0
25,61615,9.30%,5.44,14.91,5.41,642ph,(V04) (642) MC PHILADELPHIA PA,2192.0,2125.0,2202.0,...,39256,3.34,3.61,4.90,0.1151,0.1310,0.1186,0.1650,0.1152,1.0
26,67390,2.60%,3.82,4.11,2.10,646pi,(V04) (646) HCS PITTSBURGH PA,3343.0,3119.0,3192.0,...,35530,0.99,4.02,3.37,0.0565,0.0846,0.0881,0.0790,0.0914,3.0
27,23986,3.03%,4.59,2.00,3.00,693wi,(V04) (693) MC WILKES BARRE PA,1138.0,1123.0,1136.0,...,25811,0.77,1.76,1.11,0.0677,0.0301,0.0720,0.0793,0.1347,NaN
28,51989,8.19%,12.39,7.70,3.93,512ba,(V05) (512) HCS BALTIMORE MD,3062.0,3120.0,3194.0,...,45027,1.67,5.18,3.82,0.0763,0.0815,0.0473,0.1047,0.0839,4.0
29,34329,3.44%,5.02,6.09,2.68,613ma,(V05) (613) MC MARTINSBURG WV,1612.0,1548.0,1616.0,...,38474,2.02,3.32,2.93,0.1200,0.0976,0.1576,0.1604,0.1021,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,27935,10.37%,12.95,10.04,3.58,660sa,(V19) (660) HCS SALT LAKE CITYUT,1964.0,1962.0,2028.0,...,28963,2.50,5.38,6.08,0.1024,0.0946,0.1106,0.0758,0.0718,1.0
113,4366,2.86%,6.51,5.13,3.05,666sh,(V19) (666) HCS SHERIDAN WY,601.0,572.0,592.0,...,6596,1.33,4.25,2.87,0.1272,0.1369,0.2034,0.1946,0.1311,NaN
114,5982,3.31%,4.36,4.33,1.25,463an,(V20) (463) HCSROANCHORAGE AK,548.0,510.0,473.0,...,8126,0.35,1.16,1.25,0.0773,0.2090,0.1132,0.1020,0.1796,1.0
115,14163,11.37%,1.86,12.89,1.79,531bo,(V20) (531) MC BOISE ID,1022.0,1018.0,1037.0,...,20010,0.87,1.02,10.17,0.0893,0.0566,0.0845,0.0889,0.0658,3.0
116,73666,6.91%,12.99,8.81,1.87,648po,(V20) (648) MC PORTLAND OR,3343.0,3463.0,3566.0,...,50856,1.32,7.29,5.40,0.0526,0.0812,0.0658,0.0850,0.0982,NaN
117,21587,5.64%,10.25,5.48,1.54,653ro,(V20) (653) HCS ROSEBURG OR,820.0,825.0,837.0,...,15639,1.33,3.36,9.10,0.0978,0.1004,0.0716,0.1834,0.0960,2.0
118,65247,4.28%,6.44,7.39,1.22,663va,(V20) (663) HCS SEATTLE WA,3346.0,3402.0,3460.0,...,62851,1.10,4.23,4.45,0.0951,0.1050,0.1300,0.0998,0.0980,3.0
119,21514,5.80%,3.68,8.81,3.76,668sp,(V20) (668) MC SPOKANE WA,815.0,832.0,845.0,...,20026,2.88,2.21,3.61,0.1064,0.1948,0.0909,0.1722,0.1360,1.0
120,8025,9.26%,5.40,17.48,3.52,687wa,(V20) (687) MC WALLA WALLA WA,435.0,430.0,436.0,...,10517,1.29,2.88,8.30,0.1137,0.1593,0.1159,0.3582,0.0659,NaN
121,14702,3.00%,4.42,9.19,1.58,692wh,(V20) (692) SORCCWHITE CITY OR,570.0,571.0,585.0,...,12310,1.51,2.61,7.65,0.0956,0.0438,0.0379,0.2485,0.3095,NaN
122,1287,2.10%,4.77,3.09,3.31,358ma,(V21) (358) RO MANILA PI,77.0,77.0,78.0,...,2292,6.86,6.96,5.14,0.1000,NaN,NaN,NaN,NaN,NaN
123,14563,2.84%,6.95,1.34,2.96,459ho,(V21) (459) HCS HONOLULU HI,749.0,757.0,846.0,...,15226,1.49,2.90,0.95,0.0271,0.0532,0.0386,0.0757,0.0718,2.0
124,17194,11.53%,0.59,14.50,0.63,570fr,(V21) (570) HCS FRESNO CA,1055.0,1101.0,1142.0,...,19732,0.89,0.37,8.77,0.0793,0.0829,0.1055,0.0800,0.1007,NaN
125,62511,13.08%,4.82,16.07,2.26,612n.,(V21) (612) HCS MARTINEZ CA,2425.0,2513.0,2634.0,...,64997,1.01,2.48,7.09,NaN,NaN,NaN,NaN,NaN,NaN
126,49766,6.82%,6.54,7.32,5.92,640pa,(V21) (640) HCS PALO ALTO CA,3791.0,3823.0,4031.0,...,44478,2.33,2.93,4.08,0.0534,0.0680,0.0721,0.0731,0.0724,1.0
127,26049,10.87%,10.28,14.19,3.37,654re,(V21) (654) HCS RENO NV,1113.0,1130.0,1188.0,...,24654,2.84,6.06,9.19,0.0566,0.1101,0.0711,0.0476,0.1029,1.0
128,28503,7.63%,11.75,7.02,5.23,662sa,(V21) (662) MC SAN FRANCISCO CA,2194.0,2296.0,2388.0,...,41386,1.58,3.68,2.93,0.0695,0.0957,0.0713,0.0728,0.0917,2.0
129,55370,8.02%,6.40,7.28,4.98,593la,(V22) (593) MC LAS VEGAS NV,1376.0,1677.0,1967.0,...,41853,2.40,4.10,3.30,0.1087,0.0737,0.0628,0.1031,0.1012,3.0
130,49174,3.33%,8.78,3.75,3.86,600lo,(V22) (600) HCS LONG BEACH CA,2308.0,2358.0,2343.0,...,49445,2.21,5.69,2.56,0.0699,0.0852,0.0534,0.0763,0.0621,7.0
131,62831,7.38%,8.00,9.95,4.54,605lo,(V22) (605) MC LOMA LINDA CA,2374.0,2341.0,2431.0,...,53584,3.59,3.46,6.11,0.0823,0.0341,0.1079,0.0472,0.0609,10.0
132,61038,9.40%,6.67,9.57,6.86,664sa,(V22) (664) HCS SAN DIEGO CA,2775.0,2815.0,2991.0,...,60802,3.00,2.16,3.84,0.0632,0.0638,0.0725,0.0644,0.0721,4.0
133,80701,9.95%,6.46,13.35,4.53,691gr,(V22) (691) HCS W/LOS ANGELES CA,4891.0,4868.0,4844.0,...,65683,4.49,4.64,6.68,0.0678,0.0676,0.0482,0.0672,0.0796,3.0
134,17514,4.48%,5.39,4.42,1.71,437fa,(V23) (437) HCS FARGO ND,893.0,882.0,934.0,...,18930,1.37,1.69,3.54,0.1488,0.0893,0.1280,0.1553,0.0999,1.0
135,19971,3.65%,3.91,5.94,4.84,438si,(V23) (438) HCS SIOUX FALLS SD,898.0,857.0,898.0,...,18226,3.85,3.03,5.03,0.1348,0.0597,0.1015,0.0550,0.1013,1.0
136,12773,5.79%,4.03,8.30,3.47,568bl,(V23) (568) HCS FORT MEADE SD,1093.0,1036.0,1043.0,...,13315,1.95,2.74,5.52,0.1268,0.1026,0.1046,0.1552,0.1555,NaN
137,67476,3.10%,4.57,4.13,1.19,618mi,(V23) (618) HCS MINNEAPOLIS MN,3461.0,3421.0,3529.0,...,64104,0.82,2.16,2.53,0.0546,0.0822,0.0630,0.0477,0.0827,NaN
138,20957,5.23%,7.70,5.12,3.13,636ce,(V23) (636) HCS OMAHA NE,4786.0,4695.0,4839.0,...,23238,3.27,3.34,3.16,NaN,NaN,NaN,NaN,NaN,NaN
139,31302,5.07%,6.79,5.45,2.70,636io,NaN,NaN,NaN,NaN,...,24724,1.72,4.60,4.70,NaN,NaN,NaN,NaN,NaN,2.0
140,36985,0.82%,2.24,2.19,1.16,636ne,NaN,NaN,NaN,NaN,...,44645,0.89,1.50,2.02,0.0754,0.0797,0.1171,0.0881,0.0880,1.0
141,31130,3.69%,2.82,5.62,6.28,656st,(V23) (656) HCS ST CLOUD MN,1487.0,1483.0,1551.0,...,35123,3.28,2.03,4.23,0.1096,0.0559,0.0734,0.0686,0.1543,2.0

# Fixing Percents

In [240]:
master = master.applymap(change_percent)

# Self Generated Columns

In [241]:
# Appts
master["Pending_Increase"] = master["Appts_Pending_1610"] - master["Appts_Pending_1412"]
master["Pending_Increase_%"] = (master["Pending_Increase"]/master["Appts_Pending_1412"])*100
master["Complete_Increase"] = master["Appts_Complete_1608"] - master["Appts_Complete_1409"]
master["Complete_Increase_%"] = (master["Complete_Increase"]/master["Appts_Complete_1409"])*100
master["Complete_Pending_Appts_Diff_14"] = master["Appts_Pending_1412"] - master["Appts_Complete_1409"]
master["Complete_Pending_Appts_Diff_16"] = master["Appts_Pending_1610"] - master["Appts_Complete_1608"]

master["Complete_Pending_Appts_Diff_14_%"] = ((master["Appts_Pending_1412"] - master["Appts_Complete_1409"])/master["Appts_Complete_1409"])*100
master["Complete_Pending_Appts_Diff_16_%"] = ((master["Appts_Pending_1610"] - master["Appts_Complete_1608"])/master["Appts_Complete_1608"])*100




master["Complete_Pending_Gap_Increase_%"] = (master["Complete_Pending_Appts_Diff_16"] -
                                             master["Complete_Pending_Appts_Diff_14"]) / master["Complete_Pending_Appts_Diff_14"]

# Leadership
master["Missing_Leadership"] = master["Vacancy"] + master["Interim"]

#Staff
master["Staff_11_To_12_Increase"] = master["MAY-FY12"] - master["MAY-FY11"]
master["Staff_11_To_12_Increase_%"] = (master["Staff_11_To_12_Increase"]/master["MAY-FY12"])*100

master["Staff_12_To_13_Increase"] = master["MAY-FY13"] - master["MAY-FY12"]
master["Staff_12_To_13_Increase_%"] = (master["Staff_12_To_13_Increase"]/master["MAY-FY13"])*100

master["Staff_13_To_14_Increase"] = master["MAY-FY14"] - master["MAY-FY13"]
master["Staff_13_To_14_Increase_%"] = (master["Staff_13_To_14_Increase"]/master["MAY-FY14"])*100

master["Staff_14_To_15_Increase"] = master["MAY-FY15"] - master["MAY-FY14"]
master["Staff_14_To_15_Increase_%"] = (master["Staff_14_To_15_Increase"]/master["MAY-FY15"])*100

master["Staff_15_To_16_Increase"] = master["MAY-FY16"] - master["MAY-FY15"]
master["Staff_15_To_16_Increase_%"] = (master["Staff_15_To_16_Increase"]/master["MAY-FY16"])*100

master["Staff_14_To_16_Increase"] = master["MAY-FY16"] - master["MAY-FY14"]
master["Staff_14_To_16_Increase_%"] = (master["Staff_14_To_16_Increase"]/master["MAY-FY16"])*100

# Hires
master["Choice_Increase_%"] = master["Choice_Hires"]/master["MAY-FY14"]
master["Choice_Staff_Dif"] = master["Staff_14_To_16_Increase"] - master["Choice_Hires"] 
master["Choice_Increase_%_PC_Wait_Complete_1409_Ratio"] = master["PC_Wait_Complete_1409"]/master["Choice_Increase_%"]
master["Choice_Increase_%_PC_Wait_Pending_1412_Ratio"] = master["PC_Wait_Pending_1412"]/master["Choice_Increase_%"]

# Wait Times
master["PC_Wait_Pending_Increase"] = master["PC_Wait_Pending_1610"] - master["PC_Wait_Pending_1412"]
master["PC_Wait_Pending_Increase_%"] = (master["PC_Wait_Pending_Increase"]/master["PC_Wait_Pending_1412"])*100

master["PC_Wait_Complete_Increase"] = master["PC_Wait_Complete_1608"] - master["PC_Wait_Complete_1409"]
master["PC_Wait_Complete_Increase_%"] = (master["PC_Wait_Complete_Increase"]/master["PC_Wait_Complete_1409"])*100

master["SC_Wait_Pending_Increase"] = master["SC_Wait_Pending_1610"] - master["SC_Wait_Pending_1412"]
master["SC_Wait_Pending_Increase_%"] = (master["SC_Wait_Pending_Increase"]/master["PC_Wait_Pending_1412"])*100

master["SC_Wait_Complete_Increase"] = master["SC_Wait_Complete_1608"] - master["SC_Wait_Complete_1409"]
master["SC_Wait_Complete_Increase_%"] = (master["SC_Wait_Complete_Increase"]/master["SC_Wait_Complete_1409"])*100

master["MH_Wait_Pending_Increase"] = master["MH_Wait_Pending_1610"] - master["MH_Wait_Pending_1412"]
master["MH_Wait_Pending_Increase_%"] = (master["MH_Wait_Pending_Increase"]/master["PC_Wait_Pending_1412"])*100

master["MH_Wait_Complete_Increase"] = (master["MH_Wait_Complete_1608"] - master["MH_Wait_Complete_1409"])*100
master["MH_Wait_Complete_Increase_%"] = (master["MH_Wait_Complete_Increase"]/master["MH_Wait_Complete_1409"])*100

# Staff size relative to appointments

master["Staff_To_Appts_Pending_14"] = master["MAY-FY14"]/master["Appts_Pending_1412"]
master["Staff_To_Appts_Pending_16"] = master["MAY-FY16"]/master["Appts_Pending_1610"]
master["Staff_To_Appts_Complete_14"] = master["MAY-FY14"]/master["Appts_Complete_1409"]
master["Staff_To_Appts_Complete_16"] = master["MAY-FY16"]/master["Appts_Complete_1608"]


# Appointments Over 30

master["Percentage_Point_Wait_Over_30_Increase_Pending"] = master['%_Appts_Over_30_Pending_1610'] - master['%_Appts_Over_30_Pending_1412']
master["Percentage_Point_Wait_Over_30_Increase_Complete"] = master['%_Appts_Over_30_Complete_1608'] - master['%_Appts_Over_30_Complete_1409']

# Export to CSV

In [242]:
master.to_csv("Master/Master.csv", index=False)

In [243]:
master.columns

Index([u'Appts_Pending_1412', u'%_Appts_Over_30_Pending_1412',
       u'PC_Wait_Pending_1412', u'SC_Wait_Pending_1412',
       u'MH_Wait_Pending_1412', u'ID', u'ORGANIZATION', u'MAY-FY11',
       u'MAY-FY12', u'MAY-FY13', u'MAY-FY14', u'MAY-FY15', u'MAY-FY16',
       u'Appts_Pending_1610', u'%_Appts_Over_30_Pending_1610',
       u'PC_Wait_Pending_1610', u'SC_Wait_Pending_1610',
       u'MH_Wait_Pending_1610', u'Appts_Complete_1608',
       u'%_Appts_Over_30_Complete_1608', u'PC_Wait_Complete_1608',
       u'SC_Wait_Complete_1608', u'MH_Wait_Complete_1608', u'Station',
       u'Location', u'for_dups', u'Choice_Hires', u'Interim', u'Vacancy',
       u'%_Appts_Over_30_Complete_1409', u'Appts_Complete_1409',
       u'MH_Wait_Complete_1409', u'PC_Wait_Complete_1409',
       u'SC_Wait_Complete_1409', u'Physician_Turnover_FY11',
       u'Physician_Turnover_FY12', u'Physician_Turnover_FY13',
       u'Physician_Turnover_FY14', u'Physician_Turnover_FY15',
       u'NbrPsychiatrists', u'Pending_Increase', u'Pending_Increase_%',
       u'Complete_Increase', u'Complete_Increase_%',
       u'Complete_Pending_Appts_Diff_14', u'Complete_Pending_Appts_Diff_16',
       u'Complete_Pending_Appts_Diff_14_%',
       u'Complete_Pending_Appts_Diff_16_%', u'Complete_Pending_Gap_Increase_%',
       u'Missing_Leadership', u'Staff_11_To_12_Increase',
       u'Staff_11_To_12_Increase_%', u'Staff_12_To_13_Increase',
       u'Staff_12_To_13_Increase_%', u'Staff_13_To_14_Increase',
       u'Staff_13_To_14_Increase_%', u'Staff_14_To_15_Increase',
       u'Staff_14_To_15_Increase_%', u'Staff_15_To_16_Increase',
       u'Staff_15_To_16_Increase_%', u'Staff_14_To_16_Increase',
       u'Staff_14_To_16_Increase_%', u'Choice_Increase_%', u'Choice_Staff_Dif',
       u'Choice_Increase_%_PC_Wait_Complete_1409_Ratio',
       u'Choice_Increase_%_PC_Wait_Pending_1412_Ratio',
       u'PC_Wait_Pending_Increase', u'PC_Wait_Pending_Increase_%',
       u'PC_Wait_Complete_Increase', u'PC_Wait_Complete_Increase_%',
       u'SC_Wait_Pending_Increase', u'SC_Wait_Pending_Increase_%',
       u'SC_Wait_Complete_Increase', u'SC_Wait_Complete_Increase_%',
       u'MH_Wait_Pending_Increase', u'MH_Wait_Pending_Increase_%',
       u'MH_Wait_Complete_Increase', u'MH_Wait_Complete_Increase_%',
       u'Staff_To_Appts_Pending_14', u'Staff_To_Appts_Pending_16',
       u'Staff_To_Appts_Complete_14', u'Staff_To_Appts_Complete_16',
       u'Percentage_Point_Wait_Over_30_Increase_Pending',
       u'Percentage_Point_Wait_Over_30_Increase_Complete'],
      dtype='object')

In [244]:
for column in master.columns:
    print column

Appts_Pending_1412
%_Appts_Over_30_Pending_1412
PC_Wait_Pending_1412
SC_Wait_Pending_1412
MH_Wait_Pending_1412
ID
ORGANIZATION
MAY-FY11
MAY-FY12
MAY-FY13
MAY-FY14
MAY-FY15
MAY-FY16
Appts_Pending_1610
%_Appts_Over_30_Pending_1610
PC_Wait_Pending_1610
SC_Wait_Pending_1610
MH_Wait_Pending_1610
Appts_Complete_1608
%_Appts_Over_30_Complete_1608
PC_Wait_Complete_1608
SC_Wait_Complete_1608
MH_Wait_Complete_1608
Station
Location
for_dups
Choice_Hires
Interim
Vacancy
%_Appts_Over_30_Complete_1409
Appts_Complete_1409
MH_Wait_Complete_1409
PC_Wait_Complete_1409
SC_Wait_Complete_1409
Physician_Turnover_FY11
Physician_Turnover_FY12
Physician_Turnover_FY13
Physician_Turnover_FY14
Physician_Turnover_FY15
NbrPsychiatrists
Pending_Increase
Pending_Increase_%
Complete_Increase
Complete_Increase_%
Complete_Pending_Appts_Diff_14
Complete_Pending_Appts_Diff_16
Complete_Pending_Appts_Diff_14_%
Complete_Pending_Appts_Diff_16_%
Complete_Pending_Gap_Increase_%
Missing_Leadership
Staff_11_To_12_Increase
Staff_11_To_12_Increase_%
Staff_12_To_13_Increase
Staff_12_To_13_Increase_%
Staff_13_To_14_Increase
Staff_13_To_14_Increase_%
Staff_14_To_15_Increase
Staff_14_To_15_Increase_%
Staff_15_To_16_Increase
Staff_15_To_16_Increase_%
Staff_14_To_16_Increase
Staff_14_To_16_Increase_%
Choice_Increase_%
Choice_Staff_Dif
Choice_Increase_%_PC_Wait_Complete_1409_Ratio
Choice_Increase_%_PC_Wait_Pending_1412_Ratio
PC_Wait_Pending_Increase
PC_Wait_Pending_Increase_%
PC_Wait_Complete_Increase
PC_Wait_Complete_Increase_%
SC_Wait_Pending_Increase
SC_Wait_Pending_Increase_%
SC_Wait_Complete_Increase
SC_Wait_Complete_Increase_%
MH_Wait_Pending_Increase
MH_Wait_Pending_Increase_%
MH_Wait_Complete_Increase
MH_Wait_Complete_Increase_%
Staff_To_Appts_Pending_14
Staff_To_Appts_Pending_16
Staff_To_Appts_Complete_14
Staff_To_Appts_Complete_16
Percentage_Point_Wait_Over_30_Increase_Pending
Percentage_Point_Wait_Over_30_Increase_Complete

# National

In [245]:
#Taken from VA site
national_complete = pd.read_csv("Wait_Time/Completed_Cleaned/National_Complete.csv")
national_pending = pd.read_csv("Wait_Time/Pending_Clean/National_Pending.csv")


#used to strip time from Pending_Time
def get_date(test):
    test = test.strip('National: ')
    return parser.parse(test)

national_complete["date"] = national_complete["Complete_Time"].apply(get_date)
national_pending["date"] = national_pending["Pending_Time"].apply(get_date)
national_complete.sort("date")
national_pending.sort("date")

national_pending = national_pending.drop(20) #for some reason this was read in as 1989. Just dropping it

#national_pending.to_csv("National/National_Pending.csv",index=False)
#national_complete.to_csv("National/National_Complete.csv",index=False)

#NC = national_complete[["Appts_Complete_National","date"]]
#NP = national_pending[["Appts_Pending_National","date"]]

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:13: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:14: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)