# Purpose
The goal of this notebook is to make a master CSV.

In [92]:
import pandas as pd
import re
import numpy as np
from dateutil import parser

## Functions

In [93]:
def get_station(new_string):
    try:
        query = r"^\((V\d\d)\) \((.*)\)"
        m = re.search(query, new_string)
        return m.group(2).upper()
    except:
        None

### Bringing in Pending 2014 Wait Times

In [94]:
# A function to format 
def make_df(Type,Time,File):
    Title = "{}_{}".format(Type,Time)
    csv = pd.read_csv(File,
                               usecols=[0,1,5,24,25,26],
                               skiprows=[0], #skipping the original header
                               names=["Location","Appts_{}".format(Title),
                                      "%_Appts_Over_30_{}".format(Title),
                                      "PC_Wait_{}".format(Title),
                                      "SC_Wait_{}".format(Title),"MH_Wait_{}".format(Title)])
    csv["Station"] = csv["Location"].apply(get_station)
    return csv
Pending_1412 = make_df("Pending","1412","Wait_Time/Pending_Clean/14_12_Wait.csv")
Pending_1412.head()

,Location,Appts_Pending_1412,%_Appts_Over_30_Pending_1412,PC_Wait_Pending_1412,SC_Wait_Pending_1412,MH_Wait_Pending_1412,Station
0,"(V01) (402) Togus, ME",42899,2.70%,2.51,4.07,2.77,402
1,"(V01) (405) White River Junction, VT",23709,2.16%,3.92,3.95,0.79,405
2,"(V01) (518) Bedford, MA",8105,5.17%,1.12,10.53,4.41,518
3,"(V01) (523) VA Boston HCS, MA",85625,1.71%,1.66,3.53,3.92,523
4,"(V01) (608) Manchester, NH",19511,2.64%,2.66,4.21,5.13,608

# Staff Size

In [95]:
staff = pd.read_csv("Staff_Size/Onboard_By_statyion_By_FY.csv")
staff = staff.drop(0).drop(1) # dropping first and second lines because these don't refer to actual stations.
staff["Station"] = staff["ORGANIZATION"].apply(get_station)
staff.head()
#staff

,ORGANIZATION,MAY-FY11,MAY-FY12,MAY-FY13,MAY-FY14,MAY-FY15,MAY-FY16,Station
2,(V01) (402) HCS TOGUS ME,1293,1272.0,1248,1283,1335,1446,402
3,(V01) (405) MROC WHT RIVER JCT VT,852,853.0,881,921,1022,1177,405
4,(V01) (478) V1HCSBEDFORD MA,30,36.0,34,53,48,42,478
5,(V01) (518) MC BEDFORD MA,1313,1265.0,1245,1251,1297,1352,518
6,(V01) (523) HCS BOSTON MA,4022,4011.0,4041,4032,4123,4303,523

### Trying To Consolidate Staff And Pending

In [96]:
#Grabbing all stations in pending that have duplicates
multiple_pending_series = Pending_1412["Station"].value_counts()
multiple_pending_dataframe = multiple_pending_series.to_frame()
multiple_pending_list = multiple_pending_dataframe[multiple_pending_dataframe["Station"] > 1].index.tolist()

pending_unique = pd.DataFrame()
for item in multiple_pending_list:
    new = Pending_1412[Pending_1412["Station"]==item]
    pending_unique = pending_unique.append(new)
    
    
#grabbing all in staff that aren't in pending...  
in_staff_not_pending = [x for x in staff["Station"].tolist() if x not in Pending_1412["Station"].tolist()]
staff_unique = pd.DataFrame()
for item in in_staff_not_pending:
    new = staff[staff["Station"]==item]
    staff_unique = staff_unique.append(new)
    
# ...and including that in a dataframe with the uniques from 
for item in multiple_pending_list:
    new = staff[staff["Station"]==item]
    staff_unique = staff_unique.append(new)

#### Cleaning
Identified areas that need to be clean and stations that match. At this point I'm going to try and generate unique IDs and then I'm going to bring in other data to join. 

Many of the locations in station in the hiring csv don't match the wait time csv.

In [97]:
# identified these as not stations, but facilities. Dropping from dataframe. 
to_drop = [18,29,50,59,66,77,87,96,105,114,123,144,152]
for index in to_drop:
    Pending_1412 = Pending_1412.drop(index)

### Generating Unique IDs

In [98]:
IDs = []
query = r"^\((V\d\d)\) \((\d\d\d)\) (.{2})"
#m = re.search(query, test)
#m.group(3)



for index, row in Pending_1412.iterrows():
    if row["Station"] not in IDs:
        m = re.search(query, row["Location"])
        loc = m.group(3).lower()
        IDs.append(row["Station"])

    else:
        m = re.search(query, row["Location"])
        loc = m.group(3).lower()
        IDs.append(row["Station"]+loc)
Pending_1412["ID"] = IDs
Pending_1412.head()

,Location,Appts_Pending_1412,%_Appts_Over_30_Pending_1412,PC_Wait_Pending_1412,SC_Wait_Pending_1412,MH_Wait_Pending_1412,Station,ID
0,"(V01) (402) Togus, ME",42899,2.70%,2.51,4.07,2.77,402,402
1,"(V01) (405) White River Junction, VT",23709,2.16%,3.92,3.95,0.79,405,405
2,"(V01) (518) Bedford, MA",8105,5.17%,1.12,10.53,4.41,518,518
3,"(V01) (523) VA Boston HCS, MA",85625,1.71%,1.66,3.53,3.92,523,523
4,"(V01) (608) Manchester, NH",19511,2.64%,2.66,4.21,5.13,608,608

In [99]:
#manually changing some IDs in staff based on shared location
staff["ID"] = staff["Station"]
staff["ID"][11] = "528"
staff["ID"][92] = "657st"
staff["ID"][12] = "528bu"
staff.head()

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ORGANIZATION,MAY-FY11,MAY-FY12,MAY-FY13,MAY-FY14,MAY-FY15,MAY-FY16,Station,ID
2,(V01) (402) HCS TOGUS ME,1293,1272.0,1248,1283,1335,1446,402,402
3,(V01) (405) MROC WHT RIVER JCT VT,852,853.0,881,921,1022,1177,405,405
4,(V01) (478) V1HCSBEDFORD MA,30,36.0,34,53,48,42,478,478
5,(V01) (518) MC BEDFORD MA,1313,1265.0,1245,1251,1297,1352,518,518
6,(V01) (523) HCS BOSTON MA,4022,4011.0,4041,4032,4123,4303,523,523

In [100]:
master = Pending_1412.merge(staff, on="ID", how="left")
master["Station"] = master["Station_x"]
master= master.drop("Station_x",1).drop("Station_y",1)
print master.columns

Index([u'Location', u'Appts_Pending_1412', u'%_Appts_Over_30_Pending_1412',
       u'PC_Wait_Pending_1412', u'SC_Wait_Pending_1412',
       u'MH_Wait_Pending_1412', u'ID', u'ORGANIZATION', u'MAY-FY11',
       u'MAY-FY12', u'MAY-FY13', u'MAY-FY14', u'MAY-FY15', u'MAY-FY16',
       u'Station'],
      dtype='object')

#### So what was the result of our merge?

In [101]:
def check_len(master):
    check = len(master) - 141
    if check == 0:
        print "Hurray! We didn't lose any rows."
    if check < 0:
        print "Uh oh. We lost {} rows!".format(str(abs(check)))
    if check > 0:
        print "we somehow...gained {} row? Well that's not right.".format(str(abs(check)))
check_len(master)

Hurray! We didn't lose any rows.

Great! Now I'm going to redefine ID so that it better matches with future dataframes.

In [102]:
ID = []
query = r"^\((V\d\d)\) \((\d\d\d)\) (.{2})"

for index, row in master.iterrows():
    m = re.search(query, row["Location"])
    loc = m.group(3).lower()
    ID.append(row["Station"]+loc)

master["ID"] = ID
master["ID"][72] = "537je" # edge case
master.head()

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Location,Appts_Pending_1412,%_Appts_Over_30_Pending_1412,PC_Wait_Pending_1412,SC_Wait_Pending_1412,MH_Wait_Pending_1412,ID,ORGANIZATION,MAY-FY11,MAY-FY12,MAY-FY13,MAY-FY14,MAY-FY15,MAY-FY16,Station
0,"(V01) (402) Togus, ME",42899,2.70%,2.51,4.07,2.77,402to,(V01) (402) HCS TOGUS ME,1293.0,1272.0,1248.0,1283.0,1335.0,1446.0,402
1,"(V01) (405) White River Junction, VT",23709,2.16%,3.92,3.95,0.79,405wh,(V01) (405) MROC WHT RIVER JCT VT,852.0,853.0,881.0,921.0,1022.0,1177.0,405
2,"(V01) (518) Bedford, MA",8105,5.17%,1.12,10.53,4.41,518be,(V01) (518) MC BEDFORD MA,1313.0,1265.0,1245.0,1251.0,1297.0,1352.0,518
3,"(V01) (523) VA Boston HCS, MA",85625,1.71%,1.66,3.53,3.92,523va,(V01) (523) HCS BOSTON MA,4022.0,4011.0,4041.0,4032.0,4123.0,4303.0,523
4,"(V01) (608) Manchester, NH",19511,2.64%,2.66,4.21,5.13,608ma,(V01) (608) MC MANCHESTER NH,663.0,683.0,691.0,686.0,759.0,803.0,608

## Bringing in Pending 2016

In [103]:
#functions to format 2016 
def get_station(new_string):
    try:
        query = r"^\((V\d\d)\) \(([0-9,A-Z]{3,5})"
        m = re.search(query, new_string)
        return m.group(2).upper()
    except:
        None
        
staff["Station"] = staff["ORGANIZATION"].apply(get_station)




def make_df_2016(Type,Time,File):
    Title = "{}_{}".format(Type,Time)
    csv = pd.read_csv(File,
                               usecols=[0,1,5,20,21,22],
                               skiprows=[0], #skipping the original header
                               names=["Location","Appts_{}".format(Title),
                                      "%_Appts_Over_30_{}".format(Title),
                                      "PC_Wait_{}".format(Title),
                                      "SC_Wait_{}".format(Title),"MH_Wait_{}".format(Title)])
    csv["Station"] = csv["Location"].apply(get_station)
    return csv
Pending_1610 = make_df_2016("Pending","1610","Wait_Time/Pending_Clean/16_10_Wait.csv")
#Pending_1610 = Pending_1610.drop(297).drop(369) # edge case causing issues, not a station anyway

In [104]:
def generate_IDs(df):
    ID = []
    for index, row in df.iterrows():
        #print index
        if len(row["Station"]) > 3:
            #print row["Station"]
            ID.append(None)
        else:
            try:
                #print index
                #print "entering else"
                #print "This is the location: "+row["Location"]
                query = r"^\((V\d\d)\) \((\d\d\d)\) (.{2})"
                m = re.search(query, row["Location"].upper())
                new_ID = row["Station"]+m.group(3).lower()
                if new_ID not in ID:
                    ID.append(new_ID)
                else:
                    ID.append(None)
                #print m.group(3).upper()
            except AttributeError:
                #print "AttributeError"
                ID.append(None)
    return ID
ID = generate_IDs(Pending_1610)
Pending_1610["ID"] = ID

In [105]:
Pending_1610 = Pending_1610.dropna(subset = ["ID"])
master = master.merge(Pending_1610,on="ID")
print master.columns
master["Station"] = master["Station_x"]
master["Location"] = master["Location_x"]
master= master.drop("Station_x",1).drop("Station_y",1).drop("Location_y",1).drop("Location_x",1)
master.head()

Index([u'Location_x', u'Appts_Pending_1412', u'%_Appts_Over_30_Pending_1412',
       u'PC_Wait_Pending_1412', u'SC_Wait_Pending_1412',
       u'MH_Wait_Pending_1412', u'ID', u'ORGANIZATION', u'MAY-FY11',
       u'MAY-FY12', u'MAY-FY13', u'MAY-FY14', u'MAY-FY15', u'MAY-FY16',
       u'Station_x', u'Location_y', u'Appts_Pending_1610',
       u'%_Appts_Over_30_Pending_1610', u'PC_Wait_Pending_1610',
       u'SC_Wait_Pending_1610', u'MH_Wait_Pending_1610', u'Station_y'],
      dtype='object')

,Appts_Pending_1412,%_Appts_Over_30_Pending_1412,PC_Wait_Pending_1412,SC_Wait_Pending_1412,MH_Wait_Pending_1412,ID,ORGANIZATION,MAY-FY11,MAY-FY12,MAY-FY13,MAY-FY14,MAY-FY15,MAY-FY16,Appts_Pending_1610,%_Appts_Over_30_Pending_1610,PC_Wait_Pending_1610,SC_Wait_Pending_1610,MH_Wait_Pending_1610,Station,Location
0,42899,2.70%,2.51,4.07,2.77,402to,(V01) (402) HCS TOGUS ME,1293.0,1272.0,1248.0,1283.0,1335.0,1446.0,43609,4.18%,7.82,5.67,3.62,402,"(V01) (402) Togus, ME"
1,23709,2.16%,3.92,3.95,0.79,405wh,(V01) (405) MROC WHT RIVER JCT VT,852.0,853.0,881.0,921.0,1022.0,1177.0,21091,3.83%,6.09,7.09,1.86,405,"(V01) (405) White River Junction, VT"
2,8105,5.17%,1.12,10.53,4.41,518be,(V01) (518) MC BEDFORD MA,1313.0,1265.0,1245.0,1251.0,1297.0,1352.0,14456,7.54%,0.60,11.21,3.07,518,"(V01) (518) Bedford, MA"
3,85625,1.71%,1.66,3.53,3.92,523va,(V01) (523) HCS BOSTON MA,4022.0,4011.0,4041.0,4032.0,4123.0,4303.0,84373,4.43%,14.46,6.76,3.08,523,"(V01) (523) VA Boston HCS, MA"
4,19511,2.64%,2.66,4.21,5.13,608ma,(V01) (608) MC MANCHESTER NH,663.0,683.0,691.0,686.0,759.0,803.0,25424,4.09%,5.75,4.58,5.21,608,"(V01) (608) Manchester, NH"

In [106]:
check_len(master)

Hurray! We didn't lose any rows.

## Bringing in Complete 2016

In [107]:
def get_station(new_string):
    try:
        query = r"^\((V\d\d)\) \(([0-9,A-Z]{3,5})"
        m = re.search(query, new_string)
        return m.group(2).upper()
    except:
        None
        
staff["Station"] = staff["ORGANIZATION"].apply(get_station)




def make_df_2016(Type,Time,File):
    Title = "{}_{}".format(Type,Time)
    csv = pd.read_csv(File,
                               usecols=[0,1,5,13,14,15],
                               skiprows=[0], #skipping the original header
                               names=["Location","Appts_{}".format(Title),
                                      "%_Appts_Over_30_{}".format(Title),
                                      "PC_Wait_{}".format(Title),
                                      "SC_Wait_{}".format(Title),"MH_Wait_{}".format(Title)])
    csv["Station"] = csv["Location"].apply(get_station)
    return csv
Complete_1608 = make_df_2016("Complete","1608","Wait_Time/Completed_Cleaned/16_08_Wait.csv")
Complete_1608.head()

,Location,Appts_Complete_1608,%_Appts_Over_30_Complete_1608,PC_Wait_Complete_1608,SC_Wait_Complete_1608,MH_Wait_Complete_1608,Station
0,"(V01) (402) Togus, ME",28683,0.0134,4.96,2.73,1.87,402
1,(V01) (402) Togus VAMC,17464,0.0163,5.96,2.66,2.59,402
2,(V01) (402GA) Aroostook County\r(Caribou),756,0.0423,8.84,0.00,3.41,402GA
3,(V01) (402GB) Calais,379,0.0000,1.43,0.00,0.36,402GB
4,(V01) (402GC) Rumford,428,0.0000,1.31,0.00,1.11,402GC

In [108]:
ID = generate_IDs(Complete_1608)
Complete_1608["ID"] = ID
Complete_1608 = Complete_1608.dropna(subset = ["ID"])
master = master.merge(Complete_1608,on="ID")
master["Station"] = master["Station_x"]
master["Location"] = master["Location_x"]
master= master.drop("Station_x",1).drop("Station_y",1).drop("Location_y",1).drop("Location_x",1)

In [109]:
master.columns

Index([u'Appts_Pending_1412', u'%_Appts_Over_30_Pending_1412',
       u'PC_Wait_Pending_1412', u'SC_Wait_Pending_1412',
       u'MH_Wait_Pending_1412', u'ID', u'ORGANIZATION', u'MAY-FY11',
       u'MAY-FY12', u'MAY-FY13', u'MAY-FY14', u'MAY-FY15', u'MAY-FY16',
       u'Appts_Pending_1610', u'%_Appts_Over_30_Pending_1610',
       u'PC_Wait_Pending_1610', u'SC_Wait_Pending_1610',
       u'MH_Wait_Pending_1610', u'Appts_Complete_1608',
       u'%_Appts_Over_30_Complete_1608', u'PC_Wait_Complete_1608',
       u'SC_Wait_Complete_1608', u'MH_Wait_Complete_1608', u'Station',
       u'Location'],
      dtype='object')

In [110]:
check_len(master)

Hurray! We didn't lose any rows.

In [111]:
# Reference for duplicates I need to check out. 
master[master.duplicated(subset="Station", keep=False)][["Location","Station","ID"]]

                             Location Station     ID
8              (V02) (528) Albany, NY     528  528al
9                (V02) (528) Bath, NY     528  528ba
10   (V02) (528) Western New York, NY     528  528we
11        (V02) (528) Canandaigua, NY     528  528ca
12           (V02) (528) Syracuse, NY     528  528sy
79           (V15) (589) Columbia, MO     589  589co
80        (V15) (589) Kansas City, MO     589  589ka
81     (V15) (589) Eastern KS HCS, KS     589  589ea
82            (V15) (589) Wichita, KS     589  589wi
83             (V15) (657) Marion, IL     657  657ma
84       (V15) (657) Poplar Bluff, MO     657  657po
85          (V15) (657) St. Louis, MO     657  657st
137      (V23) (636) Central Iowa, IA     636  636ce
138         (V23) (636) Iowa City, IA     636  636io
139  (V23) (636) Nebraska��W Iowa, NE     636  636ne

## Bring in Hiring

I'm going to have an issue dealing with the stations with the same ID. 

I made a new CSV called Hiring_Clean where I put the appropriate ID in a new ID column. I put ignore for those that were impossible to join accurately.

In [112]:
master.columns

Index([u'Appts_Pending_1412', u'%_Appts_Over_30_Pending_1412',
       u'PC_Wait_Pending_1412', u'SC_Wait_Pending_1412',
       u'MH_Wait_Pending_1412', u'ID', u'ORGANIZATION', u'MAY-FY11',
       u'MAY-FY12', u'MAY-FY13', u'MAY-FY14', u'MAY-FY15', u'MAY-FY16',
       u'Appts_Pending_1610', u'%_Appts_Over_30_Pending_1610',
       u'PC_Wait_Pending_1610', u'SC_Wait_Pending_1610',
       u'MH_Wait_Pending_1610', u'Appts_Complete_1608',
       u'%_Appts_Over_30_Complete_1608', u'PC_Wait_Complete_1608',
       u'SC_Wait_Complete_1608', u'MH_Wait_Complete_1608', u'Station',
       u'Location'],
      dtype='object')

In [113]:
#Hiring = pd.read_csv("Hiring/Hiring_Clean.csv")
#Hiring = Hiring[Hiring["ID"]!= "Ignore"] 
#Hiring_summed = pd.pivot_table(Hiring,index=["Station"],values=["NbrEmps"],aggfunc=np.sum).reset_index()
#Hiring_summed = Hiring_summed.rename(columns = {"NbrEmps":"Choice_Hires"})

In [114]:
#Hiring = pd.read_csv("Hiring/Hiring_Clean.csv")
Hiring = pd.read_csv("Hiring/Hiring_Clean_All_Positions.csv")
for_dups = []
for index, row in Hiring.iterrows():
    if type(row["ID"]) == str:
        for_dups.append(row["ID"])
    else:
        for_dups.append(row["Station"])
Hiring["for_dups"] = for_dups
Hiring_summed = pd.pivot_table(Hiring,index=["for_dups"],values=["NbrEmps"],aggfunc=np.sum).reset_index()
Hiring_summed = Hiring_summed.rename(columns = {"NbrEmps":"Choice_Hires"})


dup_list = master[master.duplicated(subset="Station",keep=False)]["ID"].tolist()
dup_list.append("612n.")
dup_list.append("537je")

for_dups = []
for index, row in master.iterrows():
    if row["ID"] in dup_list:
        for_dups.append(row["ID"])
    else:
        for_dups.append(row["Station"])
master["for_dups"] = for_dups

In [115]:
master.columns

Index([u'Appts_Pending_1412', u'%_Appts_Over_30_Pending_1412',
       u'PC_Wait_Pending_1412', u'SC_Wait_Pending_1412',
       u'MH_Wait_Pending_1412', u'ID', u'ORGANIZATION', u'MAY-FY11',
       u'MAY-FY12', u'MAY-FY13', u'MAY-FY14', u'MAY-FY15', u'MAY-FY16',
       u'Appts_Pending_1610', u'%_Appts_Over_30_Pending_1610',
       u'PC_Wait_Pending_1610', u'SC_Wait_Pending_1610',
       u'MH_Wait_Pending_1610', u'Appts_Complete_1608',
       u'%_Appts_Over_30_Complete_1608', u'PC_Wait_Complete_1608',
       u'SC_Wait_Complete_1608', u'MH_Wait_Complete_1608', u'Station',
       u'Location', u'for_dups'],
      dtype='object')

In [116]:
master = master.merge(Hiring_summed, on="for_dups", how="left")
master.head()

,Appts_Pending_1412,%_Appts_Over_30_Pending_1412,PC_Wait_Pending_1412,SC_Wait_Pending_1412,MH_Wait_Pending_1412,ID,ORGANIZATION,MAY-FY11,MAY-FY12,MAY-FY13,...,MH_Wait_Pending_1610,Appts_Complete_1608,%_Appts_Over_30_Complete_1608,PC_Wait_Complete_1608,SC_Wait_Complete_1608,MH_Wait_Complete_1608,Station,Location,for_dups,Choice_Hires
0,42899,2.70%,2.51,4.07,2.77,402to,(V01) (402) HCS TOGUS ME,1293.0,1272.0,1248.0,...,3.62,28683,0.0134,4.96,2.73,1.87,402,"(V01) (402) Togus, ME",402,47.0
1,23709,2.16%,3.92,3.95,0.79,405wh,(V01) (405) MROC WHT RIVER JCT VT,852.0,853.0,881.0,...,1.86,21581,0.0177,3.62,4.08,1.32,405,"(V01) (405) White River Junction, VT",405,47.0
2,8105,5.17%,1.12,10.53,4.41,518be,(V01) (518) MC BEDFORD MA,1313.0,1265.0,1245.0,...,3.07,13170,0.0115,0.43,6.01,0.76,518,"(V01) (518) Bedford, MA",518,13.0
3,85625,1.71%,1.66,3.53,3.92,523va,(V01) (523) HCS BOSTON MA,4022.0,4011.0,4041.0,...,3.08,46306,0.0271,7.47,5.75,2.17,523,"(V01) (523) VA Boston HCS, MA",523,86.0
4,19511,2.64%,2.66,4.21,5.13,608ma,(V01) (608) MC MANCHESTER NH,663.0,683.0,691.0,...,5.21,18849,0.0160,4.99,2.93,2.94,608,"(V01) (608) Manchester, NH",608,48.0

In [117]:
check_len(master)

Hurray! We didn't lose any rows.

## Bring in Leadership

Also creating a version of the CSV to deal with duplicate stations.

In [118]:
Leadership = pd.read_csv("Leadership/Leadership_cleaned.csv")
Leadership = Leadership[Leadership["ID"] != "Ignore"]
Leadership["Vacancy"] = Leadership["Acting/Detailed"] == "VACANT"
Leadership["Interim"] = Leadership["Acting/Detailed"] != "VACANT"


# For easy merging


for_dups = []
for index, row in Leadership.iterrows():
    if type(row["ID"]) == str:
        for_dups.append(row["ID"])
    else:
        for_dups.append(row["Station"])
Leadership["for_dups"] = for_dups

Leadership_summed = pd.pivot_table(Leadership, index=["for_dups"],values=["Vacancy","Interim"],aggfunc=np.sum).reset_index()
#Leadership_summed = Leadership_summed.merge(Leadership[["Station","ID"]], on="Station")

In [119]:
master = master.merge(Leadership_summed, on="for_dups", how="left")
master["Interim"] = master["Interim"].fillna(0)
master["Vacancy"] = master["Vacancy"].fillna(0)

In [120]:
check_len(master)

Hurray! We didn't lose any rows.

In [121]:
master.head()

,Appts_Pending_1412,%_Appts_Over_30_Pending_1412,PC_Wait_Pending_1412,SC_Wait_Pending_1412,MH_Wait_Pending_1412,ID,ORGANIZATION,MAY-FY11,MAY-FY12,MAY-FY13,...,%_Appts_Over_30_Complete_1608,PC_Wait_Complete_1608,SC_Wait_Complete_1608,MH_Wait_Complete_1608,Station,Location,for_dups,Choice_Hires,Interim,Vacancy
0,42899,2.70%,2.51,4.07,2.77,402to,(V01) (402) HCS TOGUS ME,1293.0,1272.0,1248.0,...,0.0134,4.96,2.73,1.87,402,"(V01) (402) Togus, ME",402,47.0,0.0,1.0
1,23709,2.16%,3.92,3.95,0.79,405wh,(V01) (405) MROC WHT RIVER JCT VT,852.0,853.0,881.0,...,0.0177,3.62,4.08,1.32,405,"(V01) (405) White River Junction, VT",405,47.0,0.0,0.0
2,8105,5.17%,1.12,10.53,4.41,518be,(V01) (518) MC BEDFORD MA,1313.0,1265.0,1245.0,...,0.0115,0.43,6.01,0.76,518,"(V01) (518) Bedford, MA",518,13.0,0.0,1.0
3,85625,1.71%,1.66,3.53,3.92,523va,(V01) (523) HCS BOSTON MA,4022.0,4011.0,4041.0,...,0.0271,7.47,5.75,2.17,523,"(V01) (523) VA Boston HCS, MA",523,86.0,0.0,0.0
4,19511,2.64%,2.66,4.21,5.13,608ma,(V01) (608) MC MANCHESTER NH,663.0,683.0,691.0,...,0.0160,4.99,2.93,2.94,608,"(V01) (608) Manchester, NH",608,48.0,0.0,0.0

In [122]:
master.columns

Index([u'Appts_Pending_1412', u'%_Appts_Over_30_Pending_1412',
       u'PC_Wait_Pending_1412', u'SC_Wait_Pending_1412',
       u'MH_Wait_Pending_1412', u'ID', u'ORGANIZATION', u'MAY-FY11',
       u'MAY-FY12', u'MAY-FY13', u'MAY-FY14', u'MAY-FY15', u'MAY-FY16',
       u'Appts_Pending_1610', u'%_Appts_Over_30_Pending_1610',
       u'PC_Wait_Pending_1610', u'SC_Wait_Pending_1610',
       u'MH_Wait_Pending_1610', u'Appts_Complete_1608',
       u'%_Appts_Over_30_Complete_1608', u'PC_Wait_Complete_1608',
       u'SC_Wait_Complete_1608', u'MH_Wait_Complete_1608', u'Station',
       u'Location', u'for_dups', u'Choice_Hires', u'Interim', u'Vacancy'],
      dtype='object')

## Bringing in Completed 2014

In [123]:
pd.read_csv("Wait_Time/Completed_Cleaned/Wait_Times_201409.csv").head()

,Location_2014,Appts_2014,Appts_Complete_Over_30_Days_%_2014,PC_Wait_2014,SC_Wait_2014,MH_Wait_2014
0,"(V01) (402) Togus, ME",24458,0.0167,2.72,3.34,1.43
1,"(V01) (405) White River Junction, VT",19232,0.0158,2.24,3.22,0.84
2,"(V01) (518) Bedford, MA",11976,0.0159,0.88,5.30,3.67
3,"(V01) (523) VA Boston HCS, MA",45669,0.0105,1.16,3.17,2.63
4,"(V01) (608) Manchester, NH",17616,0.0163,2.49,3.65,3.01

In [124]:
def make_df_complete_2014(Type,Time,File):
    Title = "{}_{}".format(Type,Time)
    csv = pd.read_csv(File,
                               usecols=[0,1,5,12,13,14],
                               skiprows=[0], #skipping the original header
                               names=["Location","Appts_{}".format(Title),
                                      "%_Appts_Over_30_{}".format(Title),
                                      "PC_Wait_{}".format(Title),
                                      "SC_Wait_{}".format(Title),"MH_Wait_{}".format(Title)])
    csv["Station"] = csv["Location"].apply(get_station)
    return csv
Complete_1409 = make_df_complete_2014("Complete","1409","Wait_Time/Completed_Cleaned/14_09_Wait.csv")
Complete_1409["ID"] = generate_IDs(Complete_1409)
Complete_1409

,Location,Appts_Complete_1409,%_Appts_Over_30_Complete_1409,PC_Wait_Complete_1409,SC_Wait_Complete_1409,MH_Wait_Complete_1409,Station,ID
0,"(V01) (402) Togus, ME",24458,0.0167,2.72,3.34,1.43,402,402to
1,"(V01) (405) White River Junction, VT",19232,0.0158,2.24,3.22,0.84,405,405wh
2,"(V01) (518) Bedford, MA",11976,0.0159,0.88,5.30,3.67,518,518be
3,"(V01) (523) VA Boston HCS, MA",45669,0.0105,1.16,3.17,2.63,523,523va
4,"(V01) (608) Manchester, NH",17616,0.0163,2.49,3.65,3.01,608,608ma
5,(V01) (631) VA Central Western Massachusetts HCS,19536,0.0500,6.31,7.80,2.91,631,631va
6,"(V01) (650) Providence, RI",28521,0.0142,2.35,3.65,4.05,650,650pr
7,"(V01) (689) VA Connecticut HCS, CT",48622,0.0150,1.34,3.42,2.99,689,689va
8,"(V02) (528) Albany, NY",24865,0.0088,1.28,1.86,3.02,528,528al
9,"(V02) (528) Bath, NY",13553,0.0185,3.05,5.33,0.13,528,528ba
10,"(V02) (528) Western New York, NY",37616,0.0236,3.26,3.52,3.91,528,528we
11,"(V02) (528) Canandaigua, NY",13449,0.0198,3.65,3.71,1.61,528,528ca
12,"(V02) (528) Syracuse, NY",31918,0.0400,2.34,8.06,2.33,528,528sy
13,"(V03) (526) Bronx, NY",25650,0.0053,1.50,1.88,1.09,526,526br
14,"(V03) (561) New Jersey HCS, NJ",43772,0.0318,1.25,6.03,2.20,561,561ne
15,"(V03) (620) VA Hudson Valley HCS, NY",26650,0.0090,1.94,2.68,1.29,620,620va
16,"(V03) (630) New York Harbor HCS, NY",50405,0.0056,1.57,1.69,1.02,630,630ne
17,"(V03) (632) Northport, NY",30955,0.0108,3.38,3.42,0.65,632,632no
18,"(V04) (460) Wilmington, DE",16891,0.0457,6.04,6.07,2.98,460,460wi
19,"(V04) (503) Altoona, PA",14938,0.0205,3.42,5.63,1.94,503,503al
20,"(V04) (529) Butler, PA",8692,0.0010,0.26,0.41,0.47,529,529bu
21,"(V04) (540) Clarksburg, WV",17926,0.0644,7.64,7.51,3.41,540,540cl
22,"(V04) (542) Coatesville, PA",15159,0.0027,1.87,1.69,0.91,542,542co
23,"(V04) (562) Erie, PA",14712,0.0173,3.65,2.76,0.51,562,562er
24,"(V04) (595) Lebanon, PA",26534,0.0133,2.32,3.14,2.25,595,595le
25,"(V04) (642) Philadelphia, PA",39256,0.0283,3.61,4.90,3.34,642,642ph
26,"(V04) (646) Pittsburgh, PA",35530,0.0204,4.02,3.37,0.99,646,646pi
27,"(V04) (693) Wilkes-Barre, PA",25811,0.0074,1.76,1.11,0.77,693,693wi
28,"(V05) (512) Baltimore HCS, MD",45027,0.0224,5.18,3.82,1.67,512,512ba
29,"(V05) (613) Martinsburg, WV",38474,0.0097,3.32,2.93,2.02,613,613ma
...,...,...,...,...,...,...,...,...
111,"(V19) (660) Salt Lake City, UT",28963,0.0450,5.38,6.08,2.50,660,660sa
112,"(V19) (666) Sheridan, WY",6596,0.0186,4.25,2.87,1.33,666,666sh
113,"(V20) (463) Anchorage, AK",8126,0.0038,1.16,1.25,0.35,463,463an
114,"(V20) (531) Boise, ID",20010,0.0555,1.02,10.17,0.87,531,531bo
115,"(V20) (648) Portland, OR",50856,0.0367,7.29,5.40,1.32,648,648po
116,"(V20) (653) Roseburg, OR",15639,0.0407,3.36,9.10,1.33,653,653ro
117,"(V20) (663) VA Puget Sound, WA",62851,0.0221,4.23,4.45,1.10,663,663va
118,"(V20) (668) Spokane, WA",20026,0.0215,2.21,3.61,2.88,668,668sp
119,"(V20) (687) Walla Walla, WA",10517,0.0164,2.88,8.30,1.29,687,687wa
120,"(V20) (692) White City, OR",12310,0.0309,2.61,7.65,1.51,692,692wh
121,"(V21) (358) Manila, PI",2292,0.0170,6.96,5.14,6.86,358,358ma
122,"(V21) (459) Honolulu, HI",15226,0.0072,2.90,0.95,1.49,459,459ho
123,"(V21) (570) Fresno, CA",19732,0.0420,0.37,8.77,0.89,570,570fr
124,"(V21) (612) N. California, CA",64997,0.0366,2.48,7.09,1.01,612,612n.
125,"(V21) (640) Palo Alto, CA",44478,0.0273,2.93,4.08,2.33,640,640pa
126,"(V21) (654) Reno, NV",24654,0.0492,6.06,9.19,2.84,654,654re
127,"(V21) (662) San Francisco, CA",41386,0.0146,3.68,2.93,1.58,662,662sa
128,"(V22) (593) Las Vegas, NV",41853,0.0307,4.10,3.30,2.40,593,593la
129,"(V22) (600) Long Beach, CA",49445,0.0158,5.69,2.56,2.21,600,600lo
130,"(V22) (605) Loma Linda, CA",53584,0.0308,3.46,6.11,3.59,605,605lo
131,"(V22) (664) San Diego, CA",60802,0.0225,2.16,3.84,3.00,664,664sa
132,(V22) (691) Greater Los Angeles HCS,65683,0.0439,4.64,6.68,4.49,691,691gr
133,"(V23) (437) Fargo, ND",18930,0.0180,1.69,3.54,1.37,437,437fa
134,"(V23) (438) Sioux Falls, SD",18226,0.0299,3.03,5.03,3.85,438,438si
135,"(V23) (568) Black Hills HCS, SD",13315,0.0246,2.74,5.52,1.95,568,568bl
136,"(V23) (618) Minneapolis, MN",64104,0.0118,2.16,2.53,0.82,618,618mi
137,"(V23) (636) Central Iowa, IA",23238,0.0148,3.34,3.16,3.27,636,636ce
138,"(V23) (636) Iowa City, IA",24724,0.0290,4.60,4.70,1.72,636,636io
139,"(V23) (636) Nebraska-W Iowa, NE",44645,0.0047,1.50,2.02,0.89,636,636ne
140,"(V23) (656) St. Cloud, MN",35123,0.0143,2.03,4.23,3.28,656,656st

In [125]:
for_dups = []
for index, row in Complete_1409.iterrows():
    if row["ID"] in dup_list:
        for_dups.append(row["ID"])
    else:
        for_dups.append(row["Station"])
Complete_1409["for_dups"] = for_dups

In [126]:
columns_to_use = Complete_1409.columns.difference(master.columns).tolist()
columns_to_use.append("for_dups")

master = master.merge(Complete_1409[columns_to_use], on="for_dups", how="left")
master.columns

Index([u'Appts_Pending_1412', u'%_Appts_Over_30_Pending_1412',
       u'PC_Wait_Pending_1412', u'SC_Wait_Pending_1412',
       u'MH_Wait_Pending_1412', u'ID', u'ORGANIZATION', u'MAY-FY11',
       u'MAY-FY12', u'MAY-FY13', u'MAY-FY14', u'MAY-FY15', u'MAY-FY16',
       u'Appts_Pending_1610', u'%_Appts_Over_30_Pending_1610',
       u'PC_Wait_Pending_1610', u'SC_Wait_Pending_1610',
       u'MH_Wait_Pending_1610', u'Appts_Complete_1608',
       u'%_Appts_Over_30_Complete_1608', u'PC_Wait_Complete_1608',
       u'SC_Wait_Complete_1608', u'MH_Wait_Complete_1608', u'Station',
       u'Location', u'for_dups', u'Choice_Hires', u'Interim', u'Vacancy',
       u'%_Appts_Over_30_Complete_1409', u'Appts_Complete_1409',
       u'MH_Wait_Complete_1409', u'PC_Wait_Complete_1409',
       u'SC_Wait_Complete_1409'],
      dtype='object')

In [127]:
master.head()

,Appts_Pending_1412,%_Appts_Over_30_Pending_1412,PC_Wait_Pending_1412,SC_Wait_Pending_1412,MH_Wait_Pending_1412,ID,ORGANIZATION,MAY-FY11,MAY-FY12,MAY-FY13,...,Location,for_dups,Choice_Hires,Interim,Vacancy,%_Appts_Over_30_Complete_1409,Appts_Complete_1409,MH_Wait_Complete_1409,PC_Wait_Complete_1409,SC_Wait_Complete_1409
0,42899,2.70%,2.51,4.07,2.77,402to,(V01) (402) HCS TOGUS ME,1293.0,1272.0,1248.0,...,"(V01) (402) Togus, ME",402,47.0,0.0,1.0,0.0167,24458,1.43,2.72,3.34
1,23709,2.16%,3.92,3.95,0.79,405wh,(V01) (405) MROC WHT RIVER JCT VT,852.0,853.0,881.0,...,"(V01) (405) White River Junction, VT",405,47.0,0.0,0.0,0.0158,19232,0.84,2.24,3.22
2,8105,5.17%,1.12,10.53,4.41,518be,(V01) (518) MC BEDFORD MA,1313.0,1265.0,1245.0,...,"(V01) (518) Bedford, MA",518,13.0,0.0,1.0,0.0159,11976,3.67,0.88,5.30
3,85625,1.71%,1.66,3.53,3.92,523va,(V01) (523) HCS BOSTON MA,4022.0,4011.0,4041.0,...,"(V01) (523) VA Boston HCS, MA",523,86.0,0.0,0.0,0.0105,45669,2.63,1.16,3.17
4,19511,2.64%,2.66,4.21,5.13,608ma,(V01) (608) MC MANCHESTER NH,663.0,683.0,691.0,...,"(V01) (608) Manchester, NH",608,48.0,0.0,0.0,0.0163,17616,3.01,2.49,3.65

In [128]:
check_len(master)

Hurray! We didn't lose any rows.

# Turnover

In [129]:
turnover = pd.read_csv("Turnover/Turnover_Physician.csv",na_values="-")
# to drop national numbers and visn
turnover = turnover[turnover["Organization"].str.len() > 5]

turnover["Station"]= turnover["Organization"].apply(get_station)

for_dups = []
for index, row in turnover.iterrows():
    if type(row["ID"]) == str:
        for_dups.append(row["ID"])
    else:
        for_dups.append(row["Station"])
turnover["for_dups"] = for_dups


turnover.head()

,Organization,Specialty,FY11,FY12,FY13,FY14,FY15,ID,Station,for_dups
174,(V01) (402) HCS TOGUS ME,0602 Physician (All Specialties),0.0997,0.0955,0.1133,0.1474,0.0781,NaN,402,402
175,(V01) (402) HCS TOGUS ME,01 ANESTHESIOLOGY,0.3750,0.7742,NaN,NaN,NaN,NaN,402,402
176,(V01) (402) HCS TOGUS ME,02 SURGERY,NaN,NaN,NaN,0.6667,NaN,NaN,402,402
177,(V01) (402) HCS TOGUS ME,07 ORTHOPEDIC SURGERY,NaN,0.2927,NaN,NaN,NaN,NaN,402,402
178,(V01) (402) HCS TOGUS ME,08 OTOLARYNGOLOGY,NaN,NaN,NaN,1.0000,NaN,NaN,402,402

### Not merging in all of turnover

To do this would create a massive number of columns. Instead, it makes more sense to merge filtered versions in on a case by case basis.

But...it does make sense to merge in specialty

In [130]:
turnover.to_csv("turnover/Turnover_Physician_For_Merging.csv")

In [131]:

physician_turnover = pd.read_csv("Turnover/Turnover_Physician_For_Merging.csv",na_values="-",
                           usecols=[2,3,4,5,6,7,10],
                           skiprows=[0], #skipping the original header
                           names=["Specialty","Physician_Turnover_FY11","Physician_Turnover_FY12",
                                  "Physician_Turnover_FY13","Physician_Turnover_FY14","Physician_Turnover_FY15",
                                  "for_dups"])
physician_turnover = physician_turnover[physician_turnover["Specialty"]=="0602 Physician (All Specialties)"].drop("Specialty",1)
master = master.merge(physician_turnover,on="for_dups",how="left")

# Self Generated Columns

In [132]:
# Appts
master["Pending_Increase"] = master["Appts_Pending_1610"] - master["Appts_Pending_1412"]
master["Pending_Increase_%"] = master["Pending_Increase"]/master["Appts_Pending_1412"]
master["Complete_Increase"] = master["Appts_Complete_1608"] - master["Appts_Complete_1409"]
master["Complete_Increase_%"] = master["Complete_Increase"]/master["Appts_Complete_1409"]

# Leadership
master["Missing_Leadership"] = master["Vacancy"] + master["Interim"]

#Staff
master["Staff_11_To_12_Increase"] = master["MAY-FY12"] - master["MAY-FY11"]
master["Staff_11_To_12_Increase_%"] = master["Staff_11_To_12_Increase"]/master["MAY-FY12"]

master["Staff_12_To_13_Increase"] = master["MAY-FY13"] - master["MAY-FY12"]
master["Staff_12_To_13_Increase_%"] = master["Staff_12_To_13_Increase"]/master["MAY-FY13"]

master["Staff_13_To_14_Increase"] = master["MAY-FY14"] - master["MAY-FY13"]
master["Staff_13_To_14_Increase_%"] = master["Staff_13_To_14_Increase"]/master["MAY-FY14"]

master["Staff_14_To_15_Increase"] = master["MAY-FY15"] - master["MAY-FY14"]
master["Staff_14_To_15_Increase_%"] = master["Staff_14_To_15_Increase"]/master["MAY-FY15"]

master["Staff_15_To_16_Increase"] = master["MAY-FY16"] - master["MAY-FY15"]
master["Staff_15_To_16_Increase_%"] = master["Staff_15_To_16_Increase"]/master["MAY-FY16"]

master["Staff_14_To_16_Increase"] = master["MAY-FY16"] - master["MAY-FY14"]
master["Staff_14_To_16_Increase_%"] = master["Staff_14_To_16_Increase"]/master["MAY-FY16"]

# Hires
master["Choice_Increase_%"] = master["Choice_Hires"]/master["MAY-FY14"]
master["Choice_Staff_Dif"] = master["Staff_14_To_16_Increase"] - master["Choice_Hires"] 

# Wait Times
master["PC_Wait_Pending_Increase"] = master["PC_Wait_Pending_1610"] - master["PC_Wait_Pending_1412"]
master["PC_Wait_Pending_Increase_%"] = master["PC_Wait_Pending_Increase"]/master["PC_Wait_Pending_1412"]

master["PC_Wait_Complete_Increase"] = master["PC_Wait_Complete_1608"] - master["PC_Wait_Complete_1409"]
master["PC_Wait_Complete_Increase_%"] = master["PC_Wait_Complete_Increase"]/master["PC_Wait_Complete_1409"]

master["SC_Wait_Pending_Increase"] = master["SC_Wait_Pending_1610"] - master["SC_Wait_Pending_1412"]
master["SC_Wait_Pending_Increase_%"] = master["SC_Wait_Pending_Increase"]/master["PC_Wait_Pending_1412"]

master["SC_Wait_Complete_Increase"] = master["SC_Wait_Complete_1608"] - master["SC_Wait_Complete_1409"]
master["SC_Wait_Complete_Increase_%"] = master["SC_Wait_Complete_Increase"]/master["SC_Wait_Complete_1409"]

master["MH_Wait_Pending_Increase"] = master["MH_Wait_Pending_1610"] - master["MH_Wait_Pending_1412"]
master["MH_Wait_Pending_Increase_%"] = master["MH_Wait_Pending_Increase"]/master["PC_Wait_Pending_1412"]

master["MH_Wait_Complete_Increase"] = master["MH_Wait_Complete_1608"] - master["MH_Wait_Complete_1409"]
master["MH_Wait_Complete_Increase_%"] = master["MH_Wait_Complete_Increase"]/master["MH_Wait_Complete_1409"]

# Staff size relative to appointments

master["Staff_To_Appts_Pending_14"] = master["MAY-FY14"]/master["Appts_Pending_1412"]
master["Staff_To_Appts_Pending_16"] = master["MAY-FY16"]/master["Appts_Pending_1610"]
master["Staff_To_Appts_Complete_14"] = master["MAY-FY14"]/master["Appts_Complete_1409"]
master["Staff_To_Appts_Complete_16"] = master["MAY-FY16"]/master["Appts_Complete_1608"]

# Export to CSV

In [133]:
master.to_csv("Master/Master.csv", index=False)

In [134]:
master.columns

Index([u'Appts_Pending_1412', u'%_Appts_Over_30_Pending_1412',
       u'PC_Wait_Pending_1412', u'SC_Wait_Pending_1412',
       u'MH_Wait_Pending_1412', u'ID', u'ORGANIZATION', u'MAY-FY11',
       u'MAY-FY12', u'MAY-FY13', u'MAY-FY14', u'MAY-FY15', u'MAY-FY16',
       u'Appts_Pending_1610', u'%_Appts_Over_30_Pending_1610',
       u'PC_Wait_Pending_1610', u'SC_Wait_Pending_1610',
       u'MH_Wait_Pending_1610', u'Appts_Complete_1608',
       u'%_Appts_Over_30_Complete_1608', u'PC_Wait_Complete_1608',
       u'SC_Wait_Complete_1608', u'MH_Wait_Complete_1608', u'Station',
       u'Location', u'for_dups', u'Choice_Hires', u'Interim', u'Vacancy',
       u'%_Appts_Over_30_Complete_1409', u'Appts_Complete_1409',
       u'MH_Wait_Complete_1409', u'PC_Wait_Complete_1409',
       u'SC_Wait_Complete_1409', u'Physician_Turnover_FY11',
       u'Physician_Turnover_FY12', u'Physician_Turnover_FY13',
       u'Physician_Turnover_FY14', u'Physician_Turnover_FY15',
       u'Pending_Increase', u'Pending_Increase_%', u'Complete_Increase',
       u'Complete_Increase_%', u'Missing_Leadership',
       u'Staff_11_To_12_Increase', u'Staff_11_To_12_Increase_%',
       u'Staff_12_To_13_Increase', u'Staff_12_To_13_Increase_%',
       u'Staff_13_To_14_Increase', u'Staff_13_To_14_Increase_%',
       u'Staff_14_To_15_Increase', u'Staff_14_To_15_Increase_%',
       u'Staff_15_To_16_Increase', u'Staff_15_To_16_Increase_%',
       u'Staff_14_To_16_Increase', u'Staff_14_To_16_Increase_%',
       u'Choice_Increase_%', u'Choice_Staff_Dif', u'PC_Wait_Pending_Increase',
       u'PC_Wait_Pending_Increase_%', u'PC_Wait_Complete_Increase',
       u'PC_Wait_Complete_Increase_%', u'SC_Wait_Pending_Increase',
       u'SC_Wait_Pending_Increase_%', u'SC_Wait_Complete_Increase',
       u'SC_Wait_Complete_Increase_%', u'MH_Wait_Pending_Increase',
       u'MH_Wait_Pending_Increase_%', u'MH_Wait_Complete_Increase',
       u'MH_Wait_Complete_Increase_%', u'Staff_To_Appts_Pending_14',
       u'Staff_To_Appts_Pending_16', u'Staff_To_Appts_Complete_14',
       u'Staff_To_Appts_Complete_16'],
      dtype='object')

In [135]:
for column in master.columns:
    print column

Appts_Pending_1412
%_Appts_Over_30_Pending_1412
PC_Wait_Pending_1412
SC_Wait_Pending_1412
MH_Wait_Pending_1412
ID
ORGANIZATION
MAY-FY11
MAY-FY12
MAY-FY13
MAY-FY14
MAY-FY15
MAY-FY16
Appts_Pending_1610
%_Appts_Over_30_Pending_1610
PC_Wait_Pending_1610
SC_Wait_Pending_1610
MH_Wait_Pending_1610
Appts_Complete_1608
%_Appts_Over_30_Complete_1608
PC_Wait_Complete_1608
SC_Wait_Complete_1608
MH_Wait_Complete_1608
Station
Location
for_dups
Choice_Hires
Interim
Vacancy
%_Appts_Over_30_Complete_1409
Appts_Complete_1409
MH_Wait_Complete_1409
PC_Wait_Complete_1409
SC_Wait_Complete_1409
Physician_Turnover_FY11
Physician_Turnover_FY12
Physician_Turnover_FY13
Physician_Turnover_FY14
Physician_Turnover_FY15
Pending_Increase
Pending_Increase_%
Complete_Increase
Complete_Increase_%
Missing_Leadership
Staff_11_To_12_Increase
Staff_11_To_12_Increase_%
Staff_12_To_13_Increase
Staff_12_To_13_Increase_%
Staff_13_To_14_Increase
Staff_13_To_14_Increase_%
Staff_14_To_15_Increase
Staff_14_To_15_Increase_%
Staff_15_To_16_Increase
Staff_15_To_16_Increase_%
Staff_14_To_16_Increase
Staff_14_To_16_Increase_%
Choice_Increase_%
Choice_Staff_Dif
PC_Wait_Pending_Increase
PC_Wait_Pending_Increase_%
PC_Wait_Complete_Increase
PC_Wait_Complete_Increase_%
SC_Wait_Pending_Increase
SC_Wait_Pending_Increase_%
SC_Wait_Complete_Increase
SC_Wait_Complete_Increase_%
MH_Wait_Pending_Increase
MH_Wait_Pending_Increase_%
MH_Wait_Complete_Increase
MH_Wait_Complete_Increase_%
Staff_To_Appts_Pending_14
Staff_To_Appts_Pending_16
Staff_To_Appts_Complete_14
Staff_To_Appts_Complete_16

# National

In [136]:
#Taken from VA site
national_complete = pd.read_csv("Wait_Time/Completed_Cleaned/National_Complete.csv")
national_pending = pd.read_csv("Wait_Time/Pending_Clean/National_Pending.csv")


#used to strip time from Pending_Time
def get_date(test):
    test = test.strip('National: ')
    return parser.parse(test)

national_complete["date"] = national_complete["Complete_Time"].apply(get_date)
national_pending["date"] = national_pending["Pending_Time"].apply(get_date)
national_complete.sort("date")
national_pending.sort("date")

national_pending = national_pending.drop(20) #for some reason this was read in as 1989. Just dropping it

#national_pending.to_csv("National/National_Pending.csv",index=False)
#national_complete.to_csv("National/National_Complete.csv",index=False)

#NC = national_complete[["Appts_Complete_National","date"]]
#NP = national_pending[["Appts_Pending_National","date"]]

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:13: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:14: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)