In [32]:
import pandas as pd

In [33]:
test = pd.read_csv("test.csv")

In [34]:
test_dropped = test.drop_duplicates()
test_dropped

  test test1 test2 test3 test4 test5
0  cat   cat   cat   cat   cat   cat
1  dog   dog   dog   dog   dog   dog
2  cat   dog   NaN   NaN   NaN   NaN
3  dog   cat   dog   cat   NaN   NaN

In [35]:
test.drop_duplicates(inplace = True)

In [36]:
test = test.transpose()

In [37]:
dropped = test.drop_duplicates(keep="first",subset=0)
dropped

        0    1    2    3
test  cat  dog  cat  dog

In [38]:
test

         0    1    2    3
test   cat  dog  cat  dog
test1  cat  dog  dog  cat
test2  cat  dog  NaN  dog
test3  cat  dog  NaN  cat
test4  cat  dog  NaN  NaN
test5  cat  dog  NaN  NaN

In [40]:
test

         0    1    2    3
test   cat  dog  cat  dog
test1  cat  dog  dog  cat
test2  cat  dog  NaN  dog
test3  cat  dog  NaN  cat
test4  cat  dog  NaN  NaN
test5  cat  dog  NaN  NaN

In [41]:
test.to_dict()

{0: {'test': 'cat',
  'test1': 'cat',
  'test2': 'cat',
  'test3': 'cat',
  'test4': 'cat',
  'test5': 'cat'},
 1: {'test': 'dog',
  'test1': 'dog',
  'test2': 'dog',
  'test3': 'dog',
  'test4': 'dog',
  'test5': 'dog'},
 2: {'test': 'cat',
  'test1': 'dog',
  'test2': nan,
  'test3': nan,
  'test4': nan,
  'test5': nan},
 3: {'test': 'dog',
  'test1': 'cat',
  'test2': 'dog',
  'test3': 'cat',
  'test4': nan,
  'test5': nan}}